.f-color-w {
  color: white;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.step {
  text-align: center;
  position: relative;
  z-index: 1; /* ทำให้ไอคอนอยู่เหนือเส้น */
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #ff6f61;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: white;
}

.label {
  font-size: 12px;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #ccc;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 2%;
}

.rectangle {
  position: absolute;
  top: 5%; /* ปรับตำแหน่งสี่เหลี่ยม */
  left: 30%; /* ปรับตำแหน่งสี่เหลี่ยม */
  width: 20%;
  height: 40%;
  background-color: rgb(131, 143, 252);
  border: 2px solid rgba(0, 255, 234, 0.5);
  border-radius: 16px;
  cursor: pointer;
  z-index: 2; /* เพิ่ม z-index เพื่อให้กล่องนี้อยู่ข้างหน้า */
}

.rectangle2 {
  position: absolute;
  top: 5%; /* ปรับตำแหน่งสี่เหลี่ยม */
  left: 30%; /* ปรับตำแหน่งสี่เหลี่ยม */
  width: 52%;
  height: 45%;
  background-color: rgb(0, 255, 55);
  border: 2px solid rgba(240, 236, 0, 0.253);
  border-radius: 16px;
  cursor: pointer;
  z-index: 1; /* เพิ่ม z-index ให้น้อยกว่า rectangle เพื่อให้มันอยู่ด้านหลัง */
}

.rectangle3 {
  position: absolute;
  top: 59%; /* ปรับตำแหน่งสี่เหลี่ยม */
  left: 27%; /* ปรับตำแหน่งสี่เหลี่ยม */
  width: 35%;
  height: 48%;
  background-color: rgb(238, 6, 161);
  border: 2px solid rgba(143, 62, 250, 0.5);
  border-radius: 16px;
  cursor: pointer;
  z-index: 2; /* เพิ่ม z-index เพื่อให้กล่องนี้อยู่ข้างหน้า */
}
