General styles p {
  font-weight: 600;
}
.col-12 {
  padding: 0;
}

/* Scrollbar for all elements */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #979594e7 0%, #757474 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Accordion styles */
.accordion {
  width: 100%;
}

.accordion-header:hover {
  background-color: #3e5774;
}

.accordion-content {
  padding: 0 15px;
  background-color: #3e5774;
}

.accordion-header {
  padding: 15px;
  width: fit-content;
  background-color: #1f2d40;
  color: white;
  text-align: left;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 100%;
}

.accordion-content p {
  padding: 15px 0;
  margin: 0;
}

/* Progress Bar */
.progress-bar-container {
  width: 100%;
  max-width: 300px;
  background-color: #e0e0e0;
  border-radius: 8px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  border-radius: 8px 0 0 8px;
  transition: width 0.5s ease-in-out;
}

.progress-bar-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: white;
  font-size: 12px;
}

/* Card */
.card {
  background-color: #f4f4f4;
  border-radius: 8px;
  margin-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-dashboard {
  overflow-y: auto;
  height: 100%;
  max-height: 500px;
}

.card-dashboard::-webkit-scrollbar {
  width: 6px;
}

.card-dashboard::-webkit-scrollbar-thumb {
  background-color: #757474;
  border-radius: 10px;
}

/* Gridster styles */
.gridster {
  height: 100%;
  width: 100%;
  overflow-y: auto; /* เลื่อนแนวตั้งหากพื้นที่ไม่พอ */
}

.gridster-item .card {
  width: 100%; /* ใช้พื้นที่ทั้งหมดของไอเท็ม */
  height: 100%;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* p-table styles */
p-table .ui-table-scrollable-body {
  overflow-x: auto !important;
  overflow-y: auto !important;
}

p-table .ui-table-scrollable-body::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

p-table .ui-table-scrollable-body::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  border-radius: 100px !important;
}

p-table .ui-table-scrollable-body::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-image: linear-gradient(
    180deg,
    #979594e7 0%,
    #757474 99%
  ) !important;
}

/* Button styles */
.custom-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
  background-color: #ddd;
}

.custom-button.selected {
  background-color: #3e5774;
  color: white;
  border-color: #3e5774;
}

.no-data-message {
  height: 100vh;
  display: flex;
  justify-content: center; /* จัดตำแหน่งแนวนอนให้อยู่ตรงกลาง */
  align-items: center; /* จัดตำแหน่งแนวตั้งให้อยู่ตรงกลาง */
  background-color: #3e5774; /* สีพื้นหลังเพื่อความกลมกลืน */
}

.button-group {
  display: flex;
  gap: 10px;
}

/* Dialog styles */
::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
}

::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-thumb {
  background-color: #757474 !important;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .progress-bar-container {
    width: 100%;
  }

  .card-dashboard {
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .button-group {
    flex-direction: column;
    gap: 5px;
  }

  .card-dashboard {
    height: auto;
  }
}
