<div class="accordion" style="overflow-y: scroll; height: calc(100vh - 120px);">
  <div class="accordion-item" *ngFor="let tab of tabs; let i = index">
    <button class="accordion-header" (click)="toggleTab(tab.header.instance)">
      <div
        style="display: flex; align-items: center; justify-content: flex-start; color: white;"
      >
        <div style="width:130px">
          <span style="margin-right: 10px;">{{ tab.header.instance }}</span>
        </div>
        <div style="text-align: right; display: flex; align-items: center;">
          <div style="width:160px">
            <span style="margin-right: 10px; color: white;"
              >CPU Avg: {{ tab.header.cpuAvg }}</span
            >
          </div>
          <div class="flex-1 mb-2">
            <div
              [id]="'containerCPU-' + tab.header.instance"
              style="margin-top: 25px;"
            ></div>
          </div>
        </div>
        <div style="text-align: right; display: flex; align-items: center;">
          <div style="width:200px">
            <span style="margin-right: 10px; color: white;"
              >Memory Used: {{ tab.header.free }}</span
            >
          </div>
          <div class="flex-1 mb-2">
            <div
              [id]="'containerMemory-' + tab.header.instance"
              style="margin-top: 25px;"
            ></div>
          </div>
        </div>
        <div style="margin-right: 16px; width:100px; text-align: right;">
          {{ tab.header.storage.name }}
        </div>
        <div class="flex-1">
          <p-progressBar
            [value]="tab.header.storage.percentUsed"
          ></p-progressBar>
        </div>
      </div>
    </button>

    <div class="accordion-content" *ngIf="tab.isOpen">
      <p-toast appendTo="body"></p-toast>

      <div class="row justify-content-between">
        <gridster [options]="gridOptions" style="background:none; width:100%">
          <gridster-item
            [item]="item"
            *ngFor="let item of dashboard"
            [ngClass]="{
              'theme-arya': themeService.theme === 'arya-orange',
              'theme-saga': themeService.theme === 'saga-orange',
              'gridster-card': true
            }"
          >
            <!-- CPU Usage -->
            <div class="card-dashboard" *ngIf="item.header == 'loadcpu'">
              <div class="card-body pt-1">
                <div class="grid">
                  <div
                    class="col-12 flex align-items-center justify-content-center"
                  >
                    <h5 style="margin-top: 15px; color:black">CPU Usage</h5>
                  </div>
                  <div
                    class="col-12 flex align-items-center justify-content-center"
                    *ngIf="isLoading"
                  >
                    <p-progressSpinner
                      styleClass="custom-spinner"
                    ></p-progressSpinner>
                  </div>
                  <div
                    class="col-12 flex align-items-center justify-content-center"
                    *ngIf="!isLoading"
                  >
                    <p-knob
                      [(ngModel)]="tab.header.cpuAvg"
                      [size]="150"
                      [readonly]="true"
                      [valueColor]="getTextColor(tab.header.cpuAvg)"
                      [textColor]="colortitle"
                    ></p-knob>
                  </div>
                </div>
              </div>
            </div>

            <!-- Memory Usage -->
            <div class="card-dashboard" *ngIf="item.header == 'loadmemory'">
              <div class="card-body pt-1">
                <div class="grid">
                  <div
                    class="col-12 flex align-items-center justify-content-center"
                  >
                    <h5 style="margin-top: 15px; color:black">Memory Usage</h5>
                  </div>
                  <div
                    class="col-12 flex align-items-center justify-content-center"
                    *ngIf="isLoading"
                  >
                    <p-progressSpinner
                      styleClass="custom-spinner"
                    ></p-progressSpinner>
                  </div>
                  <div
                    class="col-12 flex align-items-center justify-content-center"
                    *ngIf="!isLoading"
                  >
                    <p-knob
                      [(ngModel)]="tab.header.free"
                      [size]="150"
                      [readonly]="true"
                      [valueColor]="getTextColor(tab.header.free)"
                      [textColor]="colortitle"
                    ></p-knob>
                  </div>
                </div>
              </div>
            </div>

            <!-- Disk Usage -->
            <div class="card-dashboard" *ngIf="item.header == 'loaddiskstatus'">
              <div class="card-body pt-1">
                <div class="grid">
                  <div
                    class="col-12 flex align-items-center justify-content-center"
                  >
                    <h5 style="margin-top: 15px;">Disk Usage</h5>
                  </div>
                  <div
                    class="col-12 flex align-items-center justify-content-center"
                    *ngIf="isLoading"
                  >
                    <p-progressSpinner
                      styleClass="custom-spinner"
                    ></p-progressSpinner>
                  </div>
                  <div class="col-12" *ngIf="!isLoading">
                    <div
                      [id]="'disk_status_chart_' + tab.header.instance"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </gridster-item>
        </gridster>
      </div>
    </div>
  </div>
</div>
