<div class="p-mb-3 fixed-top-left" style="padding: 10px;">
  <div class="button-group">
    <button
      class="custom-button"
      [ngClass]="{ selected: selectedOption === 'Storage' }"
      (click)="onOptionChange({ value: 'Storage' })"
    >
      Storage
    </button>
    <button
      class="custom-button"
      [ngClass]="{ selected: selectedOption === 'Backup' }"
      (click)="onOptionChange({ value: 'Backup' })"
    >
      Backup
    </button>
  </div>
</div>

<div [hidden]="selectedOption !== 'Storage'">
  <div
    style="text-align: center; padding: 20px; background-color: rgba(6, 11, 40, 0.5); width:100%"
  >
    <!-- Show spinner while loading -->
    <p-progressSpinner
      *ngIf="isLoading"
      styleClass="custom-spinner"
      [style]="{ width: '50px', height: '50px' }"
    ></p-progressSpinner>

    <!-- Show 'No Data' message if no data -->
    <div *ngIf="isNodata" class="no-data-message">
      <p style="color: white; font-size: 18px; margin-top: 20px;">
        Data isn't available. Please try again later.
      </p>
    </div>

    <!-- Show accordion when data is loaded -->
    <div
      *ngIf="!isLoading && !isNodata"
      class="accordion"
      style="overflow-y: scroll; height: calc(100vh - 220px);"
    >
      <div class="accordion-item" *ngFor="let tab of tabs; let i = index">
        <button
          class="accordion-header"
          (click)="toggleTab(tab.header.instance)"
        >
          <div
            style="display: flex; align-items: center; justify-content: space-between; width: 100%; color: white;"
          >
            <!-- Instance Name -->
            <div style="flex: 0.3; text-align: left;">
              <span>{{ tab.header.instance }}</span>
            </div>

            <!-- CPU Usage -->
            <div style="flex: 0.6; text-align: left;">
              <span style="color: white;">
                CPU Usage: {{ tab.header.cpuAvg }} %
              </span>
            </div>

            <div style="flex: 0.6; text-align: center;">
              <div
                [id]="'containerCPU-' + tab.header.instance"
                style="margin-top: 25px;"
              ></div>
            </div>
            <!-- Memory Usage -->
            <div style="flex: 0.7; text-align: left;">
              <span style="color: white;">
                Memory Usage: {{ tab.header.memoryUsed }} %
              </span>
            </div>

            <div style="flex: 0.6; text-align: center;">
              <div
                [id]="'containerMemory-' + tab.header.instance"
                style="margin-top: 25px;"
              ></div>
            </div>
            <!-- Disk Information -->
            <div style="flex: 0.3; text-align: left;">
              <span style="color: white;">
                Disk: {{ tab.header.storage.name }}
              </span>
            </div>

            <div style="flex: 1; text-align: left;">
              <p-progressBar
                *ngIf="!isLoading"
                [(value)]="tab.header.storage.percentUsed"
              ></p-progressBar>
              <p-progressSpinner
                *ngIf="isLoading"
                styleClass="custom-spinner"
                [style]="{ width: '50px', height: '50px' }"
              ></p-progressSpinner>
            </div>
          </div>
        </button>

        <div class="accordion-content" *ngIf="tab.isOpen">
          <p-toast appendTo="body"></p-toast>
          <div class="row justify-content-between">
            <gridster
              [options]="gridOptions"
              class="gridster-responsive"
              style="background: none; width: 100%;"
            >
              <gridster-item
                [item]="item"
                *ngFor="let item of dashboard"
                [ngClass]="{
                  'theme-arya': themeService.theme === 'arya-orange',
                  'theme-saga': themeService.theme === 'saga-orange',
                  'gridster-card': true
                }"
              >
                <!-- Card Wrapper -->
                <div class="card-wrapper">
                  <!-- CPU Usage -->
                  <div class="card-dashboard" *ngIf="item.header === 'loadcpu'">
                    <div class="card-body pt-1">
                      <h5 class="card-title" style="color:black">CPU Usage</h5>
                      <div class="card-content">
                        <p-progressSpinner
                          *ngIf="isLoading"
                          styleClass="custom-spinner"
                        ></p-progressSpinner>
                        <p-knob
                          *ngIf="!isLoading"
                          [(ngModel)]="tab.header.cpuAvg"
                          [size]="150"
                          [readonly]="true"
                          [valueColor]="getTextColor(tab.header.cpuAvg)"
                          [textColor]="colortitle"
                        ></p-knob>
                      </div>
                    </div>
                  </div>

                  <!-- Memory Usage -->
                  <div
                    class="card-dashboard"
                    *ngIf="item.header === 'loadmemory'"
                  >
                    <div class="card-body pt-1">
                      <h5 class="card-title" style="color:black">
                        Memory Usage
                      </h5>
                      <div class="card-content">
                        <p-progressSpinner
                          *ngIf="isLoading"
                          styleClass="custom-spinner"
                        ></p-progressSpinner>
                        <p-knob
                          *ngIf="!isLoading"
                          [(ngModel)]="tab.header.memoryUsed"
                          [size]="150"
                          [readonly]="true"
                          [valueColor]="getTextColor(tab.header.memoryUsed)"
                          [textColor]="colortitle"
                        ></p-knob>
                      </div>
                    </div>
                  </div>
                  <div
                    class="card-dashboard"
                    *ngIf="item.header === 'loadMemoryText'"
                  >
                    <div class="card-body pt-1">
                      <h5 class="card-title" style="color:black">
                        RAM
                      </h5>
                      <div class="card-content">
                        <p-progressSpinner
                          *ngIf="isLoading"
                          styleClass="custom-spinner"
                        ></p-progressSpinner>
                        <div style="font-weight: bold; font-size: 32px;">
                          {{ tab.header.ram }} GB
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="card-dashboard"
                    *ngIf="item.header === 'loadCPUText'"
                  >
                    <div class="card-body pt-1">
                      <h5 class="card-title" style="color:black">
                        CPU CORE
                      </h5>
                      <div class="card-content">
                        <p-progressSpinner
                          *ngIf="isLoading"
                          styleClass="custom-spinner"
                        ></p-progressSpinner>
                        <div style="font-weight: bold; font-size: 32px;">
                          {{ tab.header.core }}
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Disk Usage -->
                  <div
                    class="card-dashboard"
                    *ngIf="item.header === 'loaddiskstatus'"
                  >
                    <div class="card-body pt-1">
                      <h5 class="card-title" style="color:black">Disk Usage</h5>
                      <div class="card-content">
                        <p-progressSpinner
                          *ngIf="isLoading"
                          styleClass="custom-spinner"
                        ></p-progressSpinner>
                        <div *ngIf="!isLoading">
                          <div
                            [id]="'disk_status_chart_' + tab.header.instance"
                            style="height: 150px;"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </gridster-item>
            </gridster>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedOption === 'Backup'">
  <div style="text-align: center; padding: 0 60px 30px 60px;" class="bgcards">
    <p-toolbar styleClass="p-mb-4">
      <div class="p-toolbar-group-left">
        <div style="font-size: 18px; font-weight: 600;" class="text-color">
          Backup History
        </div>
      </div>
    </p-toolbar>
    <p-table
      [value]="products"
      responsiveLayout="scroll"
      [tableStyle]="{ 'min-width': '800px', 'background-color': '#3E5774' }"
      class="ui-table-scrollable"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Filename</th>
          <th>Created At</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.filename }}</td>
          <td>{{ product.created_at }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
