.card-stats {
  position: relative; /* กำหนดให้ตำแหน่งเป็น relative เพื่อให้สามารถใช้ :before ได้ */
  overflow: hidden; /* ซ่อนสิ่งที่เกินขอบเขต */
}

.card-stats {
  position: relative; /* กำหนดให้ตำแหน่งเป็น relative */
  overflow: hidden; /* ซ่อนสิ่งที่เกินขอบเขต */
  background-color: rgba(6, 11, 40, 0.5); /* สี #060B28 แบบโปร่งใส 50% */

  height: calc(100vh - 200px);
}
.bgcards {
  position: relative; /* กำหนดให้ตำแหน่งเป็น relative */
  overflow-y: auto; /* ซ่อนสิ่งที่เกินขอบเขต */
  background-color: rgba(6, 11, 40, 0.5); /* สี #060B28 แบบโปร่งใส 50% */

  height: calc(100vh - 200px);
}

::ng-deep .bgcards::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::ng-deep .bgcards::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  border-radius: 100px !important;
}

::ng-deep .bgcards::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-image: linear-gradient(
    180deg,
    #979594e7 0%,
    #757474 99%
  ) !important;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
}
.card-stats > * {
  position: relative; /* กำหนดให้เนื้อหาภายในอยู่ด้านบน */
  z-index: 2; /* ให้เนื้อหาสูงกว่าพื้นหลัง */
}
.table-container {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #061949;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background-color: #061949 !important;
  color: white;
}
::ng-deep .p-toolbar,
.p-toolbar-group-left,
.p-toolbar-group-right {
  background-color: transparent !important;
  border: transparent !important;
  color: white;
}

::ng-deep .p-datatable .p-datatable-footer {
  background-color: #061949 !important;
  color: white;
}
::ng-deep .p-datatable .p-paginator-bottom {
  background-color: #061949 !important;
  color: white;
}
/* ปรับสีปุ่มทั้งหมดใน paginator ให้เป็นสีขาว */
::ng-deep .p-paginator .p-paginator-first,
::ng-deep .p-paginator .p-paginator-prev,
::ng-deep .p-paginator .p-paginator-next,
::ng-deep .p-paginator .p-paginator-last,
::ng-deep .p-paginator .p-paginator-page {
  background-color: transparent !important;
  color: white !important; /* เปลี่ยนสีของตัวอักษรเป็นสีดำ */
  border: 0px solid #ccc; /* เพิ่มขอบให้ดูมีความชัดเจน */
}

/* เพิ่มสไตล์เมื่อมีการ hover */
::ng-deep .p-paginator .p-paginator-first:hover,
::ng-deep .p-paginator .p-paginator-prev:hover,
::ng-deep .p-paginator .p-paginator-next:hover,
::ng-deep .p-paginator .p-paginator-last:hover,
::ng-deep .p-paginator .p-paginator-page:hover {
  background-color: transparent !important; /* สีเมื่อ hover */
  color: white !important;
}
::ng-deep .p-paginator {
  display: flex;
  align-items: end !important;
  justify-content: end !important;
  flex-wrap: wrap;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: transparent;
  border-color: transparent;
  color: white;
}
::ng-deep
  .p-datatable-responsive-scroll
  > .p-datatable-wrapper::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::ng-deep
  .p-datatable-responsive-scroll
  > .p-datatable-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  border-radius: 100px !important;
}

::ng-deep
  .p-datatable-responsive-scroll
  > .p-datatable-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-image: linear-gradient(
    180deg,
    #979594e7 0%,
    #757474 99%
  ) !important;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
}
th {
  background-color: #061949;
  color: white;
}

tr:nth-child(even) {
  background-color: #1a2a55;
  color: white;
}

tr:nth-child(odd) {
  background-color: #051a4b;
  color: white;
}
::ng-deep .p-calendar-w-btn .p-inputtext {
  border-radius: 5px 0 0 5px !important; /* ขอบมน */
  background-color: #263b64 !important; /* พื้นหลังเป็นสี #263b64 */
  color: white !important; /* ตัวหนังสือสีขาว */
}
::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: #64b5f6 !important;
}
::ng-deep
  .p-datepicker:not(.p-disabled)
  table
  td
  span:not(.p-highlight):not(.p-disabled):hover {
  background: #27b2ff;
}
::ng-deep .p-calendar-w-btn .p-datepicker-trigger {
  border-radius: 0 5px 5px 0 !important; /* ขอบมน */
  background-color: white !important; /* พื้นหลังเป็นสี #263b64 */
  color: #263b64 !important; /* ตัวหนังสือสีขาว */
  border-color: #263b64 !important;
}
::ng-deep .p-datepicker:not(.p-datepicker-inline) {
  background-color: #263b64 !important; /* พื้นหลังเป็นสี #263b64 */
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
}
::ng-deep .p-datepicker-prev {
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
}
::ng-deep .p-datepicker-next {
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
}
::ng-deep .p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
  background-color: #263b64 !important; /* พื้นหลังเป็นสี #263b64 */
  color: white !important; /* ตัวหนังสือสีขาว */
}
::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
  border-radius: 5px !important; /* ขอบมน */
  background-color: #263b64 !important; /* พื้นหลังเป็นสี #263b64 */
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
}
::ng-deep .p-inputtext {
  background-color: #263b64 !important; /* พื้นหลังเป็นสี #263b64 */
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
}
::ng-deep .p-dropdown {
  border-radius: 5px !important; /* ขอบมน */
  background-color: #263b64 !important; /* พื้นหลังเป็นสี #263b64 */
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
}
::ng-deep .p-dropdown .p-dropdown-trigger {
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
}
::ng-deep .p-dropdown-items-wrapper {
  border-radius: 2px !important; /* ขอบมน */
  background-color: #263b64 !important; /* พื้นหลังเป็นสี #263b64 */
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
  z-index: 9999 !important; /* เพิ่มค่า z-index ให้สูงพอเพื่อให้ dropdown อยู่เหนือกราฟ */
  position: relative; /* ให้แน่ใจว่า position ถูกตั้งค่าเป็น relative */
}
::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
}
::ng-deep .p-dropdown-panel {
  z-index: 9999 !important; /* เพิ่ม z-index ให้สูงสุด */
  position: absolute !important; /* ให้รายการแสดงในตำแหน่งที่ถูกต้อง */
  top: 0; /* ปรับตำแหน่งให้พอดีกับตำแหน่งที่ต้องการ */
  left: 0;
}
::ng-deep .p-dropdown {
  position: relative; /* ทำให้ dropdown panel แสดงอยู่เหนือกราฟ */
}
::ng-deep .p-dropdown-items-wrapper::-webkit-scrollbar {
  display: none; /* ซ่อน scrollbar */
}
::ng-deep
  .p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  background: #27b2ff;
}
::ng-deep .p-dropdown-label {
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
}
::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
}
::ng-deep .p-menu.p-menu-overlay {
  background-color: #263b64 !important; /* พื้นหลังเป็นสี #263b64 */
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
}
::ng-deep .p-dialog .p-dialog-header {
  background-color: rgba(6, 11, 40);
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
}
::ng-deep .p-dialog .p-dialog-content {
  background-color: rgba(6, 11, 40);
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
}
::ng-deep .p-dialog .p-dialog-footer {
  background-color: rgba(6, 11, 40);
  color: white !important; /* ตัวหนังสือสีขาว */
  font-family: "Prompt", sans-serif !important;
}
::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  border-radius: 100px !important;
}

::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-image: linear-gradient(
    180deg,
    #979594e7 0%,
    #757474 99%
  ) !important;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
}
::ng-deep .table-responsive::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::ng-deep .table-responsive::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  border-radius: 100px !important;
}

::ng-deep .table-responsive::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-image: linear-gradient(
    180deg,
    #979594e7 0%,
    #757474 99%
  ) !important;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
}
General styles p {
  font-weight: 600;
}
.col-12 {
  padding: 0;
}

/* Scrollbar for all elements */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #979594e7 0%, #757474 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
}

.mobile-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px;
  background: #051a4b;
  color: white;
}

.mobile-card p {
  margin: 5px 0;
}

.mobile-card strong {
  color: grey;
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Accordion styles */
.accordion {
  width: 100%;
}

.accordion-header:hover {
  background-color: #3e5774;
}

.accordion-header {
  padding: 15px;
  background-color: #061949;
  color: white;
  text-align: left;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 90%; /* ใช้ 100% เพื่อให้ header มีขนาดเต็มความกว้าง */
  box-sizing: border-box; /* รวม padding ในขนาดของ element */
  min-width: 1700px;
}
@media screen and (max-width: 1920px) {
  .accordion-content {
    padding: 0 10px;

    box-sizing: border-box; /* รวม padding ในขนาดของ element */
    width: 90%;
  }
}
@media screen and (min-width: 1921px) {
  .accordion-content {
    padding: 0 7%;
    box-sizing: border-box; /* รวม padding ในขนาดของ element */
    width: 90%;
  }
}

.accordion-content p {
  padding: 15px 0;
  margin: 0;
}

/* Progress Bar */
.progress-bar-container {
  width: 100%;
  max-width: 300px;
  background-color: #e0e0e0;
  border-radius: 8px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  border-radius: 8px 0 0 8px;
  transition: width 0.5s ease-in-out;
}

.progress-bar-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: white;
  font-size: 12px;
}

/* Card */
.card {
  /* background-color: #f4f4f4; */
  border-radius: 8px;
  margin-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-dashboard {
  overflow-y: auto;
  height: 100%;
  max-height: 500px;
}

.card-dashboard::-webkit-scrollbar {
  width: 6px;
}

.card-dashboard::-webkit-scrollbar-thumb {
  background-color: #757474;
  border-radius: 10px;
}

.gridster-responsive {
  display: flex; /* หรือ grid ขึ้นอยู่กับการตั้งค่า */
  flex-wrap: wrap; /* หากต้องการให้การจัดเรียงเป็นแบบยืดหยุ่น */
  justify-content: space-around;
  width: 100%;
}
.gridster-item {
  /* อาจจะต้องมีการปรับ width, margin หรืออื่นๆ ที่ส่งผลต่อการจัดเรียง */
  min-height: 300px;
}

/* Gridster styles */
.gridster {
  height: 100%;
  width: 100%;
  overflow-y: auto; /* เลื่อนแนวตั้งหากพื้นที่ไม่พอ */
}

.gridster-item .card {
  width: 100%; /* ใช้พื้นที่ทั้งหมดของไอเท็ม */
  min-height: 300px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
}

.header-item {
  flex: 1 1 200px; /* Allow items to shrink and grow */
  text-align: left;
  margin-bottom: 10px;
}

.header-item.cpu-chart,
.header-item.memory-chart,
.header-item.progress-bar {
  text-align: center;
}

.header-item.progress-bar {
  min-width: 200px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .header-item {
    flex: 1 1 100%; /* Stack items on smaller screens */
  }
  .card-body {
    padding: 10px; /* Reduce padding for smaller screens */
  }
}

@media (max-width: 1440px) {
  .header-content {
    flex-direction: column; /* Stack items vertically on very small screens */
  }
  .header-item {
    flex: 1 1 100%;
  }
  .accordion-header {
    min-width: 100px;
  }
  .gridster-responsive {
    display: flex; /* หรือ grid ขึ้นอยู่กับการตั้งค่า */
    flex-wrap: wrap; /* หากต้องการให้การจัดเรียงเป็นแบบยืดหยุ่น */
    justify-content: start !important;
    width: 100%;
  }
}

.header-item.progress-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-progress-bar {
  width: 100%;
  height: 10px;
  background-color: #f3f3f3;
  position: relative;
}

.custom-progress-bar-inner {
  height: 100%;
  background-color: #4caf50;
}

.progress-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: black;
}

/* Responsive */
@media (max-width: 768px) {
  .custom-progress-bar {
    height: 8px;
  }
  .progress-text {
    font-size: 12px;
  }
}

.custom-spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1440px) {
  .gridster-responsive {
    display: flex; /* หรือ grid ขึ้นอยู่กับการตั้งค่า */
    flex-wrap: wrap; /* หากต้องการให้การจัดเรียงเป็นแบบยืดหยุ่น */
    justify-content: start !important;
    width: 100%;
  }
}

/* p-table styles */
p-table .ui-table-scrollable-body {
  overflow-x: auto !important;
  overflow-y: auto !important;
}
::ng-deep
  .p-datatable-responsive-scroll
  > .p-datatable-wrapper::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::ng-deep
  .p-datatable-responsive-scroll
  > .p-datatable-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  border-radius: 100px !important;
}

::ng-deep
  .p-datatable-responsive-scroll
  > .p-datatable-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-image: linear-gradient(
    180deg,
    #979594e7 0%,
    #757474 99%
  ) !important;
}
p-table .ui-table-scrollable-body::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

p-table .ui-table-scrollable-body::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  border-radius: 100px !important;
}

p-table .ui-table-scrollable-body::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-image: linear-gradient(
    180deg,
    #979594e7 0%,
    #757474 99%
  ) !important;
}

/* Button styles */
.custom-button {
  padding: 10px 20px;
  border: 0px solid #ccc;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
  background-color: #ddd;
  color: black;
}

.custom-button.selected {
  border-color: #64b5f6 !important;
  background: #64b5f6 !important;
  color: white;
}

.no-data-message {
  height: 100vh;
  display: flex;
  justify-content: center; /* จัดตำแหน่งแนวนอนให้อยู่ตรงกลาง */
  align-items: center; /* จัดตำแหน่งแนวตั้งให้อยู่ตรงกลาง */
  background-color: #3e5774; /* สีพื้นหลังเพื่อความกลมกลืน */
}

.button-group {
  display: flex;
  gap: 10px;
}

/* Dialog styles */
::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
}

::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-thumb {
  background-color: #757474 !important;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .progress-bar-container {
    width: 100%;
  }

  .card-dashboard {
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .button-group {
    flex-direction: column;
    gap: 5px;
  }

  .card-dashboard {
    height: auto;
  }
}
