<p-toast></p-toast>
<!-- <p-toolbar styleClass="p-mb-4">
    </p-toolbar> -->
<div class="col-12 card bgcards p-2" style="position: relative;">
  <div class="pt-4 pb-4">
    <p-toolbar class="p-mb-4">
      <div class="p-toolbar-group-left">
        <div class="text-color title">
          API Manager
        </div>
      </div>
      <div class="p-toolbar-group-right actions">
        <!-- ปุ่ม Reboot -->
        <button
          pButton
          pRipple
          class="p-button-warning mr-2 Newbut"
          [disabled]="isRebootLoading"
          (click)="reboot()"
        >
          <ng-container *ngIf="!isRebootLoading">
            <i class="pi pi-refresh mr-2"></i>
            <!-- เพิ่ม class mr-2 -->
            <span class="Newtxt new-font">Reboot</span>
          </ng-container>
          <ng-container *ngIf="isRebootLoading">
            <i class="pi pi-spinner pi-spin mr-2"></i>
            <!-- เพิ่ม class mr-2 -->
            <span class="Newtxt new-font">Loading...</span>
          </ng-container>
        </button>

        <!-- ปุ่ม Create Route API -->
        <button
          pButton
          pRipple
          class="p-button-warning mr-2 Newbut"
          (click)="openDailog()"
        >
          <i class="pi pi-plus" style="margin-right: 8px;"></i>
          <span class="Newtxt new-font">Create Route API</span>
        </button>

        <!-- ช่องค้นหา -->
        <span class="p-input-icon-left search-container">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            class="Searchtxt new-font"
            placeholder="Search..."
          />
        </span>
      </div>
    </p-toolbar>

    <!-- Table View -->
    <p-table
      #dt
      [value]="alarmGroups"
      [rows]="10"
      [paginator]="true"
      [loading]="isLoadingalarmGroups"
      [globalFilterFields]="['id', 'tag', 'endpoints', 'type', 'description']"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
      styleClass="custom-p-table"
      [rowsPerPageOptions]="[10, 20, 30]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="tag">
            Tag <p-sortIcon field="tag"></p-sortIcon>
          </th>
          <th pSortableColumn="endpoints">
            Endpoints <p-sortIcon field="endpoints"></p-sortIcon>
          </th>
          <th pSortableColumn="type">
            Type <p-sortIcon field="type"></p-sortIcon>
          </th>
          <th pSortableColumn="description">
            Description <p-sortIcon field="description"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-group>
        <tr>
          <td *ngIf="!isMobile">{{ group.tag }}</td>
          <td *ngIf="isMobile">Tag: {{ group.tag }}</td>

          <td *ngIf="!isMobile">{{ group.endpoints }}</td>
          <td *ngIf="isMobile">Endpoints: {{ group.endpoints }}</td>

          <td *ngIf="!isMobile">{{ group.type }}</td>
          <td *ngIf="isMobile">Type: {{ group.type }}</td>

          <td *ngIf="!isMobile">{{ group.description }}</td>
          <td *ngIf="isMobile">Description: {{ group.description }}</td>

          <td style="text-align: center;">
            <p-menu
              #menu
              [popup]="true"
              [model]="itemsAction"
              appendTo="body"
            ></p-menu>
            <button
              pButton
              type="text"
              (click)="openMenuWithItems(group, $event, menu)"
              icon="pi pi-ellipsis-h"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div
      *ngIf="isLoadingData"
      style="display: flex; align-items: center; justify-content: center;"
    >
      <i
        class="pi pi-spin pi-spinner"
        style="font-size: 5rem; margin-top: 24px; color:white"
      ></i>
    </div>

    <!-- Mobile Card View -->
    <!-- <div *ngIf="isMobile">
      <div *ngFor="let group of alarmGroups" class="mobile-card">
        <p><strong>ID:</strong> {{ group.id }}</p>
        <p><strong>Tag:</strong> {{ group.tag }}</p>
        <p><strong>Endpoints:</strong> {{ group.endpoints }}</p>
        <p><strong>Type:</strong> {{ group.type }}</p>
        <p><strong>Description:</strong> {{ group.description }}</p>
        <div style="text-align: center;">
          <p-menu
            #menu
            [popup]="true"
            [model]="itemsAction"
            appendTo="body"
          ></p-menu>
          <button
            pButton
            type="text"
            (click)="openMenuWithItems(group, $event, menu)"
            icon="pi pi-ellipsis-h"
          ></button>
        </div>
      </div>
    </div> -->
  </div>
</div>
<p-dialog
  [(visible)]="alarmGroupDialog"
  [style]="{ width: '800px' }"
  styleClass="modalResponsivo"
  [(header)]="dialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ 'overflow-y': 'auto', 'overflow-x': 'auto' }"
  (onHide)="hideDialog()"
>
  <ng-template pTemplate="content">
    <div
      style="background-color: grey; width:100%; border-top: 1px dashed grey;"
    ></div>
    <div class="col-12">
      <div class="row">
        <div class="col-4 pr-0">
          <label for="tag" style="font-weight: bold;">Tag</label>
          <input
            type="text"
            pInputText
            id="tag"
            [(ngModel)]="alarmGroup.tag"
            required
            class="tag"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.tag"
            >Tag is required.</small
          >
        </div>
        <div class="col-8 pr-0">
          <label for="endpoints" style="font-weight: bold;">Endpoints</label>
          <input
            type="text"
            pInputText
            id="endpoints"
            [(ngModel)]="alarmGroup.endpoints"
            required
            class="endpoints"
            [class]="invalid"
          />
          <small
            class="p-error block"
            *ngIf="submitted && !alarmGroup.endpoints"
            >Endpoints is required.</small
          >
        </div>
      </div>
      <div class="row">
        <div class="col-6 pr-0">
          <label for="methods" style="font-weight: bold;">Methods</label>
          <div class="form-check" *ngFor="let method of availableMethods">
            <p-radioButton
              name="method"
              value="{{ method }}"
              label="{{ method }}"
              [(ngModel)]="selectedMethods"
            ></p-radioButton>
          </div>
        </div>

        <div class="col-6 pr-0">
          <div class="row">
            <label for="methods" style="font-weight: bold; margin-right: 15px;"
              >Type</label
            >
            <div class="p-field-radiobutton " style="margin-right: 15px;">
              <p-radioButton
                name="public"
                value="public"
                [(ngModel)]="alarmGroup.type"
                inputId="public"
                checked
                style="margin-right: 15px; margin-top: -15px;"
              ></p-radioButton>
              <label
                class="radio-label"
                for="public"
                style="margin-right: 15px;"
                >Public</label
              >
            </div>
            <div class="p-field-radiobutton">
              <p-radioButton
                name="private"
                value="private"
                [(ngModel)]="alarmGroup.type"
                inputId="private"
                style="margin-right: 15px; margin-top: -15px;"
              ></p-radioButton>
              <label
                class="radio-label"
                for="private"
                style="margin-right: 15px;"
                >Private</label
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 pr-0">
          <p-dropdown
            [options]="dataSets"
            [(ngModel)]="selectedDataSets"
            optionLabel="title"
            [scrollHeight]="scrollHeight"
            [filter]="true"
            filterBy="title"
            [showClear]="true"
            [showClear]="true"
            appendTo="body"
            [baseZIndex]="1000"
            placeholder="Select DataSets"
            (onChange)="onSelectedIpAddressChange()"
          ></p-dropdown>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pr-0">
          <div class="row">
            <div class="col-8 pl-3">
              <label for="query" style="font-weight: bold;">SQL Command</label>
            </div>
            <div class="col-4">
              <button
                pButton
                pRipple
                label="Try Execute"
                class="p-button-primary"
                (click)="tryExecute()"
              ></button>
            </div>
          </div>

          <textarea
            type="text"
            rows="8"
            cols="150"
            pInputText
            id="query"
            [(ngModel)]="alarmGroup.query"
            required
            class="query"
            [class]="invalid"
          ></textarea>
          <small class="p-error block" *ngIf="submitted && !alarmGroup.query"
            >Table is required.</small
          >
        </div>
      </div>

      <div class="row" *ngIf="jsonData && jsonData.length > 0">
        <div class="table-responsive">
          <p-table
            [value]="jsonData"
            [rows]="10"
            [responsiveLayout]="'scroll'"
            [paginator]="true"
            appendTo="body"
          >
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let key of getKeys()">
                  {{ key }}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
              <tr>
                <td *ngFor="let key of getKeys()">
                  {{ row[key] }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div class="row">
        <div
          class="col-lg-6 col-md-12"
          *ngFor="let field of fieldConditions; let i = index"
        >
          <div style="margin-top:8px"></div>
          <label [for]="'param' + (i + 1)" class="font-weight-bold">
            Field Condition {{ i + 1 }}
          </label>

          <!-- Input สำหรับใส่ค่า Field Condition -->
          <input
            type="text"
            pInputText
            [id]="'param' + (i + 1)"
            [(ngModel)]="alarmGroup['param' + (i + 1)]"
            class="form-control mb-2"
          />

          <!-- Dropdown สำหรับเลือกเงื่อนไข -->
          <p-dropdown
            [options]="conditionOptions"
            [(ngModel)]="alarmGroup['operator' + (i + 1)]"
            placeholder="เลือกเงื่อนไข"
          ></p-dropdown>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pr-0">
          <div class="row">
            <div class="col-8 pl-3">
              <label for="description" style="font-weight: bold;"
                >Description</label
              >
            </div>
          </div>

          <textarea
            type="text"
            rows="8"
            cols="150"
            pInputText
            id="description"
            [(ngModel)]="alarmGroup.description"
            required
            class="description"
            [class]="invalid"
          ></textarea>
        </div>
      </div>
    </div>

    <!-- <div style="padding-top: 30px;">
            <label for="email" style="font-weight: bold;">Email: </label>
            <input type="text" pInputText id="email" [(ngModel)]="emailsendline" style="width: 50%; margin-left: 15px;"
                placeholder="Optional" />
        </div> -->
    <ng-template pTemplate="footer" class="footer">
      <div style="display:flex">
        <p-checkbox
          name="groupname"
          value="recoveryNotification"
          label="Active"
          (onChange)="changecheck($event)"
          [(ngModel)]="selectedValues"
        ></p-checkbox>
        &nbsp; &nbsp;
      </div>

      <div style="float: right;">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-danger"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Create"
          icon="pi pi-check"
          class="p-button-success"
          *ngIf="alarmGroup.id == undefined"
          (click)="createRoute()"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-success"
          *ngIf="alarmGroup.id != undefined"
          (click)="editlistGroup()"
        ></button>
      </div>
    </ng-template>
  </ng-template>

  <ng-template pTemplate="footer" class="footer">
    <div style="display:flex">
      <p-checkbox
        name="groupname"
        value="recoveryNotification"
        label="Active"
        (onChange)="changecheck($event)"
        [(ngModel)]="selectedValues"
      ></p-checkbox>
      &nbsp; &nbsp;
    </div>

    <div style="float: right;">
      <button
        pButton
        pRipple
        label="Create"
        icon="pi pi-check"
        class="p-button-success"
        *ngIf="alarmGroup.id == undefined"
        (click)="createRoute()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-success"
        *ngIf="alarmGroup.id != undefined"
        (click)="editlistGroup()"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="executeDialog"
  [style]="{ width: isMobile ? '100%' : '1200px' }"
  styleClass="modalResponsivo"
  [(header)]="dialogHeader"
  [loading]="isLoadingalarmGroups"
  [modal]="true"
  [contentStyle]="{ 'overflow-y': 'auto', 'overflow-x': 'auto' }"
  (onHide)="hideDialog()"
>
  <ng-template pTemplate="content">
    <div
      style="background-color: grey; width:100%; border-top: 1px dashed grey;"
    ></div>
    <div class="col-12">
      <div class="row">
        <div
          class="table-responsive"
          style="overflow-y: auto; overflow-x: auto; max-height: 400px;"
        >
          <table class="table table-bordered">
            <thead>
              <tr>
                <th *ngFor="let key of getKeys()">{{ key }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of jsonData">
                <td *ngFor="let key of getKeys()">{{ row[key] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
