<p-toast></p-toast>
<!-- <p-toolbar styleClass="p-mb-4">
    </p-toolbar> -->
<div class="col-12 card bgcards p-2" style="position: relative;">
  <div class="pt-4 pb-4">
    <p-toolbar class="p-mb-4">
      <div class="p-toolbar-group-left">
        <div class="text-color title">
          API Manager
        </div>
      </div>
      <div class="p-toolbar-group-right actions">
        <button
          pButton
          pRipple
          class="p-button-warning mr-2 Newbut"
          (click)="reboot()"
        >
          <i class="pi pi-refresh"></i>
          <span class="Newtxt new-font">Reboot</span>
        </button>
        <button
          pButton
          pRipple
          class="p-button-warning mr-2 Newbut"
          (click)="openDailog()"
        >
          <i class="pi pi-plus"></i>
          <span class="Newtxt new-font">Create Route API</span>
        </button>
        <span class="p-input-icon-left search-container">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            class="Searchtxt new-font"
            placeholder="Search..."
          />
        </span>
      </div>
    </p-toolbar>

    <div class="row mx-0" style="position: relative; z-index: 0;">
      <div class="col-12">
        <div class="table-container">
          <p-table
            #dt
            [value]="alarmGroups"
            [rows]="10"
            [paginator]="true"
            [loading]="isLoadingalarmGroups"
            [globalFilterFields]="['id', 'tag', 'endpoints']"
            [(selection)]="alarmGroups"
            dataKey="group_id"
            styleClass="f-color-w"
            scrollable="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
          >
            <ng-template pTemplate="header">
              <tr>
                <th
                  style="width: 10%; text-align: center;"
                  pSortableColumn="id"
                >
                  ID <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th style="width: 20%;" pSortableColumn="tag">
                  Tag <p-sortIcon field="tag"></p-sortIcon>
                </th>
                <th style="width: 20%;" pSortableColumn="endpoints">
                  Endpoints <p-sortIcon field="endpoints"></p-sortIcon>
                </th>
                <th style="width: 15%;" pSortableColumn="type">
                  Type <p-sortIcon field="type"></p-sortIcon>
                </th>
                <th style="width: 25%;" pSortableColumn="methods">
                  Description <p-sortIcon field="methods"></p-sortIcon>
                </th>
                <th style="width: 10%;">
                  Action
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-group let-rowIndex>
              <tr (click)="readRouteById(group)">
                <td style="text-align: center;">{{ group.id }}</td>
                <td class="truncate" title="{{ group.tag }}">
                  {{ group.tag }}
                </td>
                <td class="truncate" title="{{ group.endpoints }}">
                  {{ group.endpoints }}
                </td>
                <td class="truncate" title="{{ group.type }}">
                  {{ group.type }}
                </td>
                <td class="truncate" title="{{ group.description }}">
                  {{
                    group.description?.length > 30
                      ? (group.description | slice: 0:30) + "..."
                      : group.description
                  }}
                </td>
                <td style="text-align: center;">
                  <button
                    pButton
                    pRipple
                    label="View Data"
                    class="p-button-primary"
                    (click)="tryExecute2($event, group)"
                  ></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="p-d-flex p-ai-center p-jc-between">
                Total {{ alarmGroups ? alarmGroups.length : 0 }} groups.
              </div>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog
  [(visible)]="alarmGroupDialog"
  [style]="{ width: '800px' }"
  styleClass="modalResponsivo"
  [(header)]="dialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ 'overflow-y': 'auto', 'overflow-x': 'auto' }"
  (onHide)="hideDialog()"
>
  <ng-template pTemplate="content">
    <div
      style="background-color: grey; width:100%; border-top: 1px dashed grey;"
    ></div>
    <div class="col-12">
      <div class="row">
        <div class="col-4 pr-0">
          <label for="tag" style="font-weight: bold;">Tag</label>
          <input
            type="text"
            pInputText
            id="tag"
            [(ngModel)]="alarmGroup.tag"
            required
            class="tag"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.tag"
            >Tag is required.</small
          >
        </div>
        <div class="col-8 pr-0">
          <label for="endpoints" style="font-weight: bold;">Endpoints</label>
          <input
            type="text"
            pInputText
            id="endpoints"
            [(ngModel)]="alarmGroup.endpoints"
            required
            class="endpoints"
            [class]="invalid"
          />
          <small
            class="p-error block"
            *ngIf="submitted && !alarmGroup.endpoints"
            >Endpoints is required.</small
          >
        </div>
      </div>
      <div class="row">
        <div class="col-6 pr-0">
          <label for="methods" style="font-weight: bold;">Methods</label>
          <div class="form-check" *ngFor="let method of availableMethods">
            <p-checkbox
              name="method"
              value="{{ method }}"
              label="{{ method }}"
              (onChange)="toggleMethodSelection(method)"
              [(ngModel)]="selectedValues"
            ></p-checkbox>
          </div>
          <small
            class="p-error block"
            *ngIf="submitted && selectedMethods.length === 0"
          >
            At least one method is required.
          </small>
        </div>
        <div class="col-6 pr-0">
          <div class="row">
            <label for="methods" style="font-weight: bold; margin-right: 15px;"
              >Type</label
            >
            <div class="p-field-radiobutton " style="margin-right: 15px;">
              <p-radioButton
                name="public"
                value="public"
                [(ngModel)]="alarmGroup.type"
                inputId="public"
                checked
                style="margin-right: 15px; margin-top: -15px;"
              ></p-radioButton>
              <label
                class="radio-label"
                for="public"
                style="margin-right: 15px;"
                >Public</label
              >
            </div>
            <div class="p-field-radiobutton">
              <p-radioButton
                name="private"
                value="private"
                [(ngModel)]="alarmGroup.type"
                inputId="private"
                style="margin-right: 15px; margin-top: -15px;"
              ></p-radioButton>
              <label
                class="radio-label"
                for="private"
                style="margin-right: 15px;"
                >Private</label
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pr-0">
          <p-dropdown
            [options]="dataSets"
            [(ngModel)]="selectedDataSets"
            optionLabel="title"
            [scrollHeight]="scrollHeight"
            [filter]="true"
            filterBy="title"
            [showClear]="true"
            [showClear]="true"
            [scrollStrategy]="scrollStrategy"
            appendTo="body"
            [baseZIndex]="1000"
            placeholder="Select DataSets"
            (onChange)="onSelectedIpAddressChange()"
          ></p-dropdown>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pr-0">
          <div class="row">
            <div class="col-8 pl-3">
              <label for="query" style="font-weight: bold;">SQL Command</label>
            </div>
            <div class="col-4">
              <button
                pButton
                pRipple
                label="Try Execute"
                class="p-button-primary"
                (click)="tryExecute()"
              ></button>
            </div>
          </div>

          <textarea
            type="text"
            rows="8"
            cols="150"
            pInputText
            id="query"
            [(ngModel)]="alarmGroup.query"
            required
            class="query"
            [class]="invalid"
          ></textarea>
          <small class="p-error block" *ngIf="submitted && !alarmGroup.query"
            >Table is required.</small
          >
        </div>
      </div>

      <div class="row" *ngIf="jsonData && jsonData.length > 0">
        <div class="table-responsive">
          <p-table
            [value]="jsonData"
            [paginator]="true"
            [rows]="10"
            [responsiveLayout]="'scroll'"
            [rowsPerPageOptions]="[5, 10, 20]"
          >
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let key of getKeys()">
                  {{ key }}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
              <tr>
                <td *ngFor="let key of getKeys()">
                  {{ row[key] }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div class="row">
        <div
          class="col-4 pr-0"
          *ngFor="let field of fieldConditions; let i = index"
        >
          <label [for]="'param' + (i + 1)" style="font-weight: bold;">
            Field Condition {{ i + 1 }}
          </label>

          <!-- Input สำหรับใส่ค่า Field Condition -->
          <input
            type="text"
            pInputText
            [id]="'param' + (i + 1)"
            [(ngModel)]="alarmGroup['param' + (i + 1)]"
            [class]="'param' + (i + 1)"
          />

          <!-- Dropdown สำหรับเลือกเงื่อนไข -->
          <p-dropdown
            [options]="conditionOptions"
            [(ngModel)]="alarmGroup['operator' + (i + 1)]"
            placeholder="เลือกเงื่อนไข"
            [style]="{ width: '240px', marginRight: '5px' }"
          >
          </p-dropdown>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pr-0">
          <div class="row">
            <div class="col-8 pl-3">
              <label for="description" style="font-weight: bold;"
                >Description</label
              >
            </div>
          </div>

          <textarea
            type="text"
            rows="8"
            cols="150"
            pInputText
            id="description"
            [(ngModel)]="alarmGroup.description"
            required
            class="description"
            [class]="invalid"
          ></textarea>
        </div>
      </div>
    </div>

    <!-- <div style="padding-top: 30px;">
            <label for="email" style="font-weight: bold;">Email: </label>
            <input type="text" pInputText id="email" [(ngModel)]="emailsendline" style="width: 50%; margin-left: 15px;"
                placeholder="Optional" />
        </div> -->
  </ng-template>

  <ng-template pTemplate="footer" class="footer">
    <div style="display:flex">
      <p-checkbox
        name="groupname"
        value="recoveryNotification"
        label="Active"
        (onChange)="changecheck($event)"
        [(ngModel)]="selectedValues"
      ></p-checkbox>
      &nbsp; &nbsp;
    </div>

    <div style="float: right;">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-danger"
        (click)="hideDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Create"
        icon="pi pi-check"
        class="p-button-success"
        *ngIf="alarmGroup.id == undefined"
        (click)="createRoute()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-success"
        *ngIf="alarmGroup.id != undefined"
        (click)="editlistGroup()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        *ngIf="alarmGroup.id != undefined"
        (click)="deleteRoute(alarmGroup.id)"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="executeDialog"
  [style]="{ width: '1200px' }"
  styleClass="modalResponsivo"
  [(header)]="dialogHeader"
  [loading]="isLoadingalarmGroups"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ 'overflow-y': 'auto', 'overflow-x': 'auto' }"
  (onHide)="hideDialog()"
>
  <ng-template pTemplate="content">
    <div
      style="background-color: grey; width:100%; border-top: 1px dashed grey;"
    ></div>
    <div class="col-12">
      <div class="row">
        <div
          class="table-responsive"
          style="overflow-y: auto; overflow-x: auto; max-height: 400px;"
        >
          <table class="table table-bordered">
            <thead>
              <tr>
                <th *ngFor="let key of getKeys()">{{ key }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of jsonData">
                <td *ngFor="let key of getKeys()">{{ row[key] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>