.Critical{
  /* color: #BF73CC;
  background-color: #F5B7B1;
  border-radius: 5px;
  background-position: center;
  background-repeat: repeat;
  width: 65px;
  font-weight: bold;
  text-align: center;
  padding: 5px; */
  background-color: #BF73CC;

  color: white;
  height: auto;
  border-radius: 5px;
  background-position: center;
  background-repeat: repeat;
  width: 55px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
.Major{
  background-color: #FF7782;

  color: white;
  height: auto;
  /* width: 2em; */
  /* color: #FF7782; */
  /* background-color: #fcd07e; */
  border-radius: 5px;
  background-position: center;
  background-repeat: repeat;
  width: 55px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
.Minor{
  background-color: #FFBB55;

  color: white;
  height: auto;
  border-radius: 5px;
  background-position: center;
  background-repeat: repeat;
  width: 55px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  /* color: #FF7782;
  color: #FFBB55;
  background-color: #fdfb6a;
  border-radius: 5px;
  background-position: center;
  background-repeat: repeat;
  width: 55px;
  font-weight: bold;
  text-align: center;
  padding: 5px; */
}
.Warning{
  background-color: #45BFFF;

  color: white;
  height: auto;
  border-radius: 5px;
  background-position: center;
  background-repeat: repeat;
  width: 55px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
.Unknown{
  background-color: #50D0BC;

  color: white;
  height: auto;
  border-radius: 5px;
  background-position: center;
  background-repeat: repeat;
  width: 55px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
::ng-deep .p-fluid .p-inputtext::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
 }

::ng-deep .p-fluid .p-inputtext::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  border-radius: 100px !important;
}

::ng-deep .p-fluid .p-inputtext::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-image: linear-gradient(180deg, #979594e7 0%, #757474 99%) !important;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
}
.failed {
    color: #eb1f08;
    background-color: #F5B7B1;
    width: fit-content;
    font-weight: bold;
    /* text-align: center; */
  }
  
  .OK {
    color: #256029;
    background-color: #c8e6c9;
    width: fit-content;
    font-weight: bold;
    /* text-align: center; */
  }
  .pinging {
    background-color: #b3e5fc;
    color: #23547b;
    width: fit-content;
    font-weight: bold;
  }
  .NewVlan-container{
    background-color: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 24px;
  }
  @media screen and (max-width: 805px) {
    .theme-saga {
      background-color: #ffffff;
      box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.2);
      height: fit-content !important;
    }
    .theme-arya {
      background-color: #1F2D40;
      box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.2);
      height: fit-content !important;
    }
  }
  .theme-arya {
    background-color:  #1f2d40;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.1);
    // height: fit-content !important;
   
    
}
.theme-saga {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.1);
    // height: fit-content !important;
}
/* :host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
    animation-duration: 0.5s;
} */
::ng-deep .p-dropdown-items-wrapper::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
 }
::ng-deep .p-dropdown-items-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  border-radius: 100px !important;
}

::ng-deep .p-dropdown-items-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-image: linear-gradient(180deg, #979594e7 0%, #757474 99%) !important;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
}
::ng-deep .p-multiselect-items-wrapper::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
 }
::ng-deep .p-multiselect-items-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  border-radius: 100px !important;
}

::ng-deep .p-multiselect-items-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-image: linear-gradient(180deg, #979594e7 0%, #757474 99%) !important;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
}
::ng-deep .p-datatable-responsive-scroll .p-datatable-wrapper::-webkit-scrollbar {
  width: 8px !important;
 height: 8px !important;
 }

::ng-deep .p-datatable-responsive-scroll .p-datatable-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  border-radius: 100px !important;
}

::ng-deep .p-datatable-responsive-scroll .p-datatable-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-image: linear-gradient(180deg, #979594e7 0%, #757474 99%) !important;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
}
::ng-deep .p-datatable-resizable>.p-datatable-wrapper {
  overflow-x: auto;
  /* height: 8px !important; */
}
::ng-deep .p-datatable-resizable>.p-datatable-wrapper::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
 }

::ng-deep .p-datatable-resizable>.p-datatable-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  border-radius: 100px !important;
}

::ng-deep .p-datatable-resizable>.p-datatable-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-image: linear-gradient(180deg, #979594e7 0%, #757474 99%) !important;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
}
::ng-deep .p-scrollpanel .p-scrollpanel-bar {
  background-color: var(--primary-color) !important;
  /* opacity: 1 !important; */
}
::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
 }

::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  border-radius: 100px !important;
}

::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-image: linear-gradient(180deg, #979594e7 0%, #757474 99%) !important;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
}
::ng-deep .textarea::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
 }

::ng-deep .textarea::-webkit-scrollbar-track {
  background-color: #e4e4e4 !important;
  border-radius: 100px !important;
}

::ng-deep .textarea::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-image: linear-gradient(180deg, #979594e7 0%, #757474 99%) !important;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
}
/*  */
@media screen and (min-width: 1200px) {
  .Addconfig{
    margin-left: 5px !important;
  }
}
@media screen and (max-width: 1199px) {
  .Addconfig{
    display: none;
  }
}
.done {
    color: #256029;
    background-color: #c8e6c9;
    width: fit-content;
    font-weight: bold;
    /* text-align: center; */
  }
  .enabled {
    background-color: #b3e5fc;
    color: #23547b;
    width: fit-content;
    font-weight: bold;
  }
  
#content {
  margin-top: 40px; /* Provide buffer for logo */
}
.card-dashboard{
  height:100%;
  /* width: 100vh; */
  /* margin: 16px; */
}
#containermemorylist {
  height: 250px;

  /* width: 350px; */
}
::ng-deep .styletime{
  width: 100px !important;
  height: 40px !important;
  margin-top: 15px !important;
}
::ng-deep .styletimeMin{
  width: 100px !important;
  margin-left: 15px !important;
  height: 40px !important;
  margin-top: 15px !important;
}
::ng-deep .styletimeAM-PM{
  margin-left: 15px !important;
  margin-right: 10px !important;
  margin-top: 15px !important;
}
::ng-deep .datePickerS{
  margin-left:12px !important;
}
.theme-arya-text{
  color: #FFFFFF;
}
.theme-saga.text{
  color: black;
}
@keyframes custom-progress-spinner-color {
    100%,
    0% {
        stroke: #ef8157;
    }
}

@keyframes custom-progress-spinner-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}


:host ::ng-deep .p-multiselect {
    min-width: 15rem;
    width: 18rem;
  }
  .theme-arya-text{
    color: #FFFFFF;
}
.theme-saga.text{
    color: black;
}
.button-holder {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  position: absolute;
  top: 1px;
  left: 8px;
  right: 0;
  z-index: 100;
}
.trBG{
  background-color: #757474;
}
.if_descr {
  color: #FF5252;

}




.switch_mode {
  color: #FF5252;
}
.vlan_table {
  color: #FF5252;
}
  :host ::ng-deep .multiselect-custom {
    .p-multiselect-label {
        padding-top: .25rem;
        padding-bottom: .25rem;
    }
  
    .country-item-value {
        padding: .25rem .5rem;
        border-radius: 3px;
        display: inline-flex;
        margin-right: .5rem;
        background-color: var(--primary-color);
        color: var(--primary-color-text);
  
        img.flag {
            width: 17px;
        }
    }
  
    .country-placeholder {
        padding: 0.25rem;
    }
  }
  :host ::ng-deep {
    @media screen and (max-width: 640px) {
        .p-multiselect {
            width: 100%;
        }
    }
  }
 
  @media screen and (min-width: 801px) {
    .valueTemp{
      font-size:100px !important;
    }
    .modalResponsivo { 
      width: 90% !important;
  }
  #logo {
    position: absolute; /* Reposition logo from the natural layout */
    /* left: 75px; */
    top: 0px;
    /* width: 300px; */
    /* height: 200px; */
    margin-top: 30px;
    z-index: 2;
  }
  }
  @media screen and (max-width: 800px) {
    .card-dashboard {
      height: 100%;
      overflow-y: auto;
    }
    .card-dashboard::-webkit-scrollbar {
      width: 8px !important;
      height: 8px !important;
     }
    .card-dashboard::-webkit-scrollbar-track {
      background-color: #e4e4e4 !important;
      border-radius: 100px !important;
    }
   
    .card-dashboard::-webkit-scrollbar-thumb {
      border-radius: 100px !important;
      background-image: linear-gradient(180deg, #979594e7 0%, #757474 99%) !important;
      box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
    }
    .valueTemp{
      font-size:5vw !important;
    }
   
  ::ng-deep .p-dialog { 
    width: calc(100% - 150px) !important; 
  }
  ::ng-deep .p-dialog .p-dialog-content { 
    width: calc(100%) !important; 
  }
  }
  
  @media screen and (min-width: 650px) {
    .ChangePortChart{
      margin-right: 15px !important;
    }
    
  }
  @media screen and (min-width: 610px) {
    .VlanLength {
      width: 200px !important;
    }
    
  }
  @media screen and (min-width: 475px) {
    .HOSTNAMEtxts{
      width: 180px !important; 
      margin-left: 15px !important;
    }
    .SNMPtxts{
      width: 180px !important; 
      margin-left: 55px !important;
    }
    .NTPtxts{
      width: 180px !important; 
      margin-left: 70px !important;
    }
  }
  @media screen and (max-width: 649px) {
    .ChangePortChart{

      margin-right: 5px !important;
    }
    .ChangemultiSelect{
      width: 100px !important;
    }
   
  }
  
  @media screen and (max-width: 589px) {
    .FileSelected{
      width: 180px !important;
    }
  }
  @media screen and (min-width: 550px) {
    .VLAN_IDs{
      margin-left: 30px !important;
    }
    .VLAN_Lists{
      margin-left: 20px !important;
    }
    .VLAN_Names{
      margin-left: 20px !important;
    }
 
    /* .VlanLengthvlan{
      margin-left: 50px !important;
    } */
  }
  
 @media screen and (max-width: 549px) {
  .VlanLengthID{
    margin-left: -30px !important;
  }
  /* .VlanLengthvlan{
    margin-left: 50px !important;
  } */
  /* .VlanLength {
    margin-left: 20px !important;
  } */
 }

  @media screen and (max-width: 490px) {
    .ChangemultiSelect{
      width: 80px !important;
    }
  }
 

  @media screen and (max-width: 430px) {
    .FileSelected{
      width: 120px !important;
    }
  }
  @media screen and (max-width: 420px) {
    .Sysname{
      width: 120px !important;
    }
  }
  @media screen and (max-width: 400px) {
    .FileSelected{
      width: 100px !important;
    }
    ::ng-deep .p-dialog { 
      width: calc(100% - 80px) !important; 
    }
    ::ng-deep .p-dialog .p-dialog-content { 
      width: calc(100%) !important; 
    }
    .Sysname{
      width: 100px !important;
    }
  }
::ng-deep .toolbarOption {
  background-color:  transparent !important;
  border: 0 !important;
}
