#myDIV1 { 
    width:650px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}  
#myDIV2 { 
    width:200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#mar {
    margin-left: 50px;
}  
#id{
    width:200px;
}
::ng-deep .p-datatable-responsive-scroll>.p-datatable-wrapper::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
   }
  
  ::ng-deep .p-datatable-responsive-scroll>.p-datatable-wrapper::-webkit-scrollbar-track {
    background-color: #e4e4e4 !important;
    border-radius: 100px !important;
  }
  
  ::ng-deep .p-datatable-responsive-scroll>.p-datatable-wrapper::-webkit-scrollbar-thumb {
    border-radius: 100px !important;
    background-image: linear-gradient(180deg, #979594e7 0%, #757474 99%) !important;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
  }
::ng-deep .p-fluid .p-inputtext::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
   }
  
  ::ng-deep .p-fluid .p-inputtext::-webkit-scrollbar-track {
    background-color: #e4e4e4 !important;
    border-radius: 100px !important;
  }
  
  ::ng-deep .p-fluid .p-inputtext::-webkit-scrollbar-thumb {
    border-radius: 100px !important;
    background-image: linear-gradient(180deg, #979594e7 0%, #757474 99%) !important;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
  }