<div class="login-container" style="background-color: red;">
  <div
    class="login-background"
    [ngClass]="{
      'theme-arya': themeService.theme === 'arya-orange',
      'theme-saga': themeService.theme === 'saga-orange'
    }"
  >
    <div *ngIf="loginState">
      <div
        class="card card-container"
        [ngClass]="{
          'theme-arya-card': themeService.theme === 'arya-orange',
          'theme-saga-card': themeService.theme === 'saga-orange'
        }"
      >
        <div class="card-body">
          <!-- Logo -->
          <div class="flex-container text-center">
            <img
              src="assets/img/data-exchange.png"
              alt="M Insight"
              class="centered-image img-fluid"
              style="max-width: 150px;"
            />
          </div>

          <!-- Login Form -->
          <form [formGroup]="form" (ngSubmit)="onLogin()" class="mt-3">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              />
              <div
                *ngIf="submitted && f.username.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.username.errors.required">
                  Username is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                [(type)]="typepassword"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
              </div>
              <br />
              <div class="field-checkbox">
                <input
                  type="checkbox"
                  id="isCheckBox"
                  (change)="myFunction($event)"
                />
                <label for="binary">Show Password</label>
              </div>
            </div>
            <div class="form-group text-center">
              <button [disabled]="loading" class="btn btn-primary w-100">
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Login
              </button>
            </div>
          </form>

          <!-- Signup Link -->
          <div class="text-center mt-3">
            <span (click)="openDialog()" class="link-like">
              สมัครสมาชิกใหม่
            </span>
          </div>

          <div class="text-center mt-3">
            <span (click)="forgetPasswordDialog()" class="link-like">
              ลืมรหัสผ่าน
            </span>
          </div>

          <p-dialog
            header="ลืมรหัสผ่าน"
            [(visible)]="displayForgetPasswordDialog"
            [modal]="true"
            [closable]="true"
            (onHide)="closeDialog()"
            [style]="{ width: '90%' }"
            [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
          >
            <div>
              <form (ngSubmit)="createUser()">
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input
                    pInputText
                    id="username"
                    name="username"
                    [(ngModel)]="userData.username"
                    class="form-control"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="email">Email :</label>
                  <input
                    pInputText
                    id="email"
                    name="email"
                    [(ngModel)]="userData.email"
                    class="form-control"
                    required
                  />
                </div>

                <div class="form-group text-center">
                  <button
                    pButton
                    label="Submit"
                    type="submit"
                    class="btn btn-success w-100"
                    (click)="resetPasswordDialog()"
                  ></button>
                </div>
              </form>
            </div>
          </p-dialog>

          <p-dialog
            header="เปลี่ยนรหัสผ่านใหม่"
            [(visible)]="displayResetForgetPasswordDialog"
            [modal]="true"
            [closable]="true"
            (onHide)="closeDialog()"
            [style]="{ width: '90%' }"
            [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
          >
            <div>
              <form (ngSubmit)="createUser()">
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input
                    pInputText
                    id="password"
                    name="password"
                    [(ngModel)]="userData.password"
                    class="form-control"
                    type="password"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="confirmPassword">Confirm Password:</label>
                  <input
                    pInputText
                    id="confirmPassword"
                    name="confirmPassword"
                    [(ngModel)]="userData.confirmPassword"
                    class="form-control"
                    type="password"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="confirmPassword"
                    >OTP: (Ref: <span *ngIf="showRefCode">{{ refCode }}</span
                    >)</label
                  >
                  <input
                    pInputText
                    id="confirmPassword"
                    name="confirmPassword"
                    [(ngModel)]="userData.confirmPassword"
                    class="form-control"
                    type="password"
                    required
                  />
                </div>

                <div class="form-group text-center">
                  <button
                    pButton
                    label="Submit"
                    type="submit"
                    class="btn btn-success w-100"
                    (click)="resetPasswordDialog()"
                  ></button>
                </div>
              </form>
            </div>
          </p-dialog>

          <!-- Signup Dialog -->
          <p-dialog
            header="สมัครสมาชิก"
            [(visible)]="displayDialog"
            [modal]="true"
            [closable]="true"
            (onHide)="closeDialog()"
            [style]="{ width: '90%' }"
            [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
          >
            <div>
              <form (ngSubmit)="createUser()">
                <div class="form-group">
                  <label for="firstName">First Name:</label>
                  <input
                    pInputText
                    id="firstName"
                    name="firstName"
                    [(ngModel)]="userData.firstname"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name:</label>
                  <input
                    pInputText
                    id="lastName"
                    name="lastName"
                    [(ngModel)]="userData.lastname"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input
                    pInputText
                    id="username"
                    name="username"
                    [(ngModel)]="userData.username"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input
                    pInputText
                    id="password"
                    name="password"
                    [(ngModel)]="userData.password"
                    class="form-control"
                    type="password"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="confirmPassword">Confirm Password:</label>
                  <input
                    pInputText
                    id="confirmPassword"
                    name="confirmPassword"
                    [(ngModel)]="userData.confirmPassword"
                    class="form-control"
                    type="password"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email :</label>
                  <input
                    pInputText
                    id="email"
                    name="email"
                    [(ngModel)]="userData.email"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="agency">หน่วยงาน :</label>
                  <input
                    pInputText
                    id="agency"
                    name="agency"
                    [(ngModel)]="userData.agency"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group text-center">
                  <button
                    pButton
                    label="Submit"
                    type="submit"
                    class="btn btn-success w-100"
                  ></button>
                </div>
              </form>
            </div>
          </p-dialog>
        </div>
      </div>
    </div>
    <p-toast [style]="{ marginTop: '80px' }"></p-toast>
  </div>
</div>
