<div class="login-container" style="background-color: red;">
  <div
    class="login-background"
    [ngClass]="{
      'theme-arya': themeService.theme === 'arya-orange',
      'theme-saga': themeService.theme === 'saga-orange'
    }"
  >
    <div *ngIf="loginState">
      <div
        class="card card-container"
        [ngClass]="{
          'theme-arya-card': themeService.theme === 'arya-orange',
          'theme-saga-card': themeService.theme === 'saga-orange'
        }"
      >
        <div class="card-body">
          <!-- Logo -->
          <div class="flex-container text-center">
            <img
              src="assets/img/data-exchange.png"
              alt="M Insight"
              class="centered-image img-fluid"
              style="max-width: 150px;"
            />
          </div>

          <!-- Login Form -->
          <form [formGroup]="form" (ngSubmit)="onLogin()" class="mt-3">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              />
              <div
                *ngIf="submitted && f.username.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.username.errors.required">
                  Username is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                [(type)]="typepassword"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
              </div>
              <br />
              <div class="field-checkbox">
                <input
                  type="checkbox"
                  id="isCheckBox"
                  (change)="myFunction($event)"
                />
                <label for="binary">Show Password</label>
              </div>
            </div>
            <div class="form-group text-center">
              <button [disabled]="loading" class="btn btn-primary w-100">
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Login
              </button>
            </div>
          </form>

          <!-- Signup Link -->
          <div class="text-center mt-3">
            <span (click)="openDialog()" class="link-like">
              สมัครสมาชิกใหม่
            </span>
          </div>

          <div class="text-center mt-3">
            <span (click)="forgetPasswordDialog()" class="link-like">
              ลืมรหัสผ่าน
            </span>
          </div>

          <p-dialog
            header="ลืมรหัสผ่าน"
            [(visible)]="displayForgetPasswordDialog"
            [modal]="true"
            [closable]="true"
            (onHide)="closeDialog()"
            [style]="{ width: '100%', maxWidth: '500px' }"
            [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
          >
            <div class="d-flex justify-content-center">
              <form class="w-100">
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input
                    pInputText
                    id="username"
                    name="username"
                    [(ngModel)]="this.resetPasswordUsername"
                    class="form-control"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="email">Email:</label>
                  <input
                    pInputText
                    id="email"
                    name="email"
                    [(ngModel)]="this.resetPasswordEmail"
                    class="form-control"
                    required
                  />
                </div>

                <div class="form-group text-center">
                  <button
                    pButton
                    type="submit"
                    class="btn btn-success mx-auto"
                    (click)="resetPasswordDialog()"
                    [disabled]="loading"
                    style="width: auto; padding: 10px 20px;"
                  >
                    <ng-container *ngIf="loading">
                      <i class="pi pi-spin pi-spinner"></i> Loading...
                    </ng-container>
                    <ng-container *ngIf="!loading">
                      Submit
                    </ng-container>
                  </button>
                </div>
              </form>
            </div>
          </p-dialog>

          <!-- Reset Password Dialog -->
          <p-dialog
            header="เปลี่ยนรหัสผ่านใหม่"
            [(visible)]="displayResetForgetPasswordDialog"
            [modal]="true"
            [closable]="true"
            (onHide)="closeDialog()"
            [style]="{ width: '100%', maxWidth: '500px' }"
            [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
          >
            <div>
              <form>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input
                    pInputText
                    id="password"
                    name="password"
                    [(ngModel)]="resetPassword"
                    (input)="validatePassword()"
                    class="form-control"
                    type="password"
                    required
                  />
                </div>

                <!-- แสดงข้อความเงื่อนไขรหัสผ่าน -->
                <ul class="password-requirements">
                  <li [ngClass]="{ valid: passwordValidations.length }">
                    รหัสผ่านต้องมีอย่างน้อย 8 ตัว
                  </li>
                  <li [ngClass]="{ valid: passwordValidations.lowercase }">
                    ต้องมีตัวพิมพ์เล็ก (a-z)
                  </li>
                  <li [ngClass]="{ valid: passwordValidations.uppercase }">
                    ต้องมีตัวพิมพ์ใหญ่ (A-Z)
                  </li>
                  <li [ngClass]="{ valid: passwordValidations.number }">
                    ต้องมีตัวเลข (0-9)
                  </li>
                  <li [ngClass]="{ valid: passwordValidations.specialChar }">
                    ต้องมีอักขระพิเศษ (!@#$%^&*)
                  </li>
                </ul>

                <div class="form-group">
                  <label for="confirmPassword">Confirm Password:</label>
                  <input
                    pInputText
                    id="confirmPassword"
                    name="confirmPassword"
                    [(ngModel)]="confirmResetPassword"
                    class="form-control"
                    type="password"
                    required
                  />
                </div>

                <div class="form-group text-center">
                  <button
                    pButton
                    label="Submit"
                    type="submit"
                    class="btn btn-success mx-auto"
                    style="width: auto; padding: 10px 20px;"
                    (click)="onResetPassword()"
                    [disabled]="!isPasswordValid()"
                  ></button>
                </div>
              </form>
            </div>
          </p-dialog>

          <!-- OTP Dialog -->
          <p-dialog
            header="กรอกรหัส OTP"
            [(visible)]="displayOTPDlg"
            [modal]="true"
            [closable]="true"
            (onHide)="closeDialog()"
            [style]="{ width: '100%', maxWidth: '500px' }"
            [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
          >
            <div>
              <form>
                <div class="form-group">
                  <label for="confirmOTP"
                    >We already sent OTP to email: {{ this.emailSent }}</label
                  >
                  <label for="confirmOTP">Please enter it below</label>
                  <label for="confirmOTP"
                    >(Ref: <span *ngIf="showRefCode">{{ refCode }}</span
                    >)</label
                  >
                  <input
                    pInputText
                    id="confirmOTP"
                    name="confirmOTP"
                    [(ngModel)]="this.resetOTP"
                    class="form-control"
                    required
                    maxlength="6"
                    style="text-align: center;"
                  />
                </div>

                <div class="form-group text-center">
                  <button
                    pButton
                    label="Submit"
                    type="submit"
                    class="btn btn-success mx-auto"
                    style="width: auto; padding: 10px 20px;"
                    (click)="onVerifyOTP()"
                  ></button>
                  <div class="text-center mt-3">
                    <!-- ปุ่ม "ส่ง OTP อีกครั้ง" -->
                    <span
                      (click)="isResendButtonDisabled ? null : onResendOTP()"
                      class="link-like"
                      [ngClass]="{ disabled: isResendButtonDisabled }"
                    >
                      ส่ง OTP อีกครั้ง
                    </span>

                    <!-- แสดงเวลานับถอยหลัง -->
                    <div *ngIf="isResendButtonDisabled">
                      <p>สามารถส่ง OTP ได้ในอีก {{ countdownTime }} วินาที</p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </p-dialog>

          <!-- Signup Dialog -->
          <p-dialog
            header="สมัครสมาชิก"
            [(visible)]="displayDialog"
            [modal]="true"
            [closable]="true"
            (onHide)="closeDialog()"
            [style]="{ width: '100%', maxWidth: '500px' }"
            [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
          >
            <div>
              <form (ngSubmit)="createUser()">
                <div class="form-group">
                  <label for="firstName">First Name:</label>
                  <input
                    pInputText
                    id="firstName"
                    name="firstName"
                    [(ngModel)]="userData.firstname"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name:</label>
                  <input
                    pInputText
                    id="lastName"
                    name="lastName"
                    [(ngModel)]="userData.lastname"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input
                    pInputText
                    id="username"
                    name="username"
                    [(ngModel)]="userData.username"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input
                    pInputText
                    id="password"
                    name="password"
                    [(ngModel)]="userData.password"
                    class="form-control"
                    type="password"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="confirmPassword">Confirm Password:</label>
                  <input
                    pInputText
                    id="confirmPassword"
                    name="confirmPassword"
                    [(ngModel)]="userData.confirmPassword"
                    class="form-control"
                    type="password"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input
                    pInputText
                    id="email"
                    name="email"
                    [(ngModel)]="userData.email"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="agency">หน่วยงาน:</label>
                  <input
                    pInputText
                    id="agency"
                    name="agency"
                    [(ngModel)]="userData.agency"
                    class="form-control"
                    required
                  />
                </div>

                <div class="form-group text-center">
                  <button
                    pButton
                    label="Submit"
                    type="submit"
                    class="btn btn-success mx-auto"
                    style="width: auto; padding: 10px 20px;"
                  ></button>
                </div>
              </form>
            </div>
          </p-dialog>
        </div>
      </div>
    </div>
    <p-toast [style]="{ marginTop: '80px' }"></p-toast>
  </div>
</div>
