<p-toast></p-toast>

<!-- <p-toolbar styleClass="p-mb-4"> -->
<!-- <ng-template pTemplate="left">
            <h5 class="p-m-0">Manage User</h5>
        </ng-template> -->
<!-- <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template> -->

<!-- </p-toolbar> -->
<div class="col-12 card bgcards p-2" style="position: relative;">
  <div class="pt-4 pb-4">
    <p-toolbar styleClass="p-mb-4">
      <div class="p-toolbar-group-left">
        <button
          pButton
          pRipple
          class="p-button-success mr-2 Newbut"
          (click)="openNew()"
        >
          <i class="pi pi-plus"
            ><span
              class="Newtxt"
              style="font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;"
              >New</span
            ></i
          >
        </button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-danger"
          title="Delete"
          (click)="deleteSelectedUsers()"
          [disabled]="!selectedUsers || !selectedUsers.length"
        ></button>
        <button
          pButton
          pRipple
          class="p-button-success Exportbut"
          style="margin-left:8px"
          (click)="exportToExcel()"
        >
          <i class="pi pi-file"
            ><span
              class="Exporttxt"
              style="font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;"
              >Export to excel</span
            ></i
          >
        </button>
      </div>
      <div class="p-toolbar-group-right">
        <span class="p-input-icon-left">
          <i class="pi pi-search searchIcon"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            class="Searchtxt"
            placeholder="Search..."
          />
        </span>
      </div>
    </p-toolbar>
    <p-table
      #dt
      [value]="users"
      [rows]="10"
      [paginator]="true"
      scrollable="true"
      [globalFilterFields]="[
        'firstname',
        'firstname | lastname',
        'lastname',
        'status',
        'username',
        'role'
      ]"
      [(selection)]="selectedUsers"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th style="width: 15%" pSortableColumn="firstname">
            Name <p-sortIcon field="firstname"></p-sortIcon>
          </th>
          <th style="width: 15%" pSortableColumn="username">
            Username <p-sortIcon field="username"></p-sortIcon>
          </th>
          <th style="width: 25%" pSortableColumn="email">
            Email <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th style="width: 10%" pSortableColumn="role">
            Role <p-sortIcon field="role"></p-sortIcon>
          </th>
          <th style="width: 15%" pSortableColumn="zone_name">
            Zone <p-sortIcon field="zone_name"></p-sortIcon>
          </th>
          <th style="width: 15%" pSortableColumn="created_at">
            Create at <p-sortIcon field="created_at"></p-sortIcon>
          </th>
          <th style="width: 5%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>
            <p-tableCheckbox [value]="user"></p-tableCheckbox>
          </td>
          <td>{{ user.firstname }} {{ user.lastname }}</td>
          <td class="truncate" title="{{ user.username }}">
            {{ user.username }}
          </td>
          <td class="truncate" title="{{ user.email }}">
            {{ user.email }}
          </td>
          <td>{{ user.role }}</td>
          <td class="truncate" title="{{ user.zone_name }}">
            {{ user.zone_name }}
          </td>
          <td
            class="truncate"
            title="{{ user.created_at | date: 'dd-MM-YYYY HH:mm:ss' }}"
          >
            {{ user.created_at | date: "dd-MM-YYYY HH:mm:ss" }}
          </td>
          <td>
            <p-menu
              #menu
              [popup]="true"
              [model]="itemsAction"
              appendTo="body"
            ></p-menu>
            <button
              pButton
              type="text"
              (click)="menu.toggle($event)"
              (click)="menuVlue(user)"
              icon="pi pi-ellipsis-h"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{ users ? users.length : 0 }} users.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog
  [(visible)]="userDialogs"
  [style]="{ width: '700px' }"
  [(header)]="dailog_header"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ 'overflow-y': 'auto', 'overflow-x': 'auto' }"
  (onHide)="hideDialogEdit()"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <div class="row mx-0">
        <div class="col pl-0">
          <label for="Role">Role</label>
          <p-dropdown
            class="mx-2"
            id="Role"
            (onChange)="onChangeRole($event)"
            [options]="roles"
            [(ngModel)]="selectedRole"
            optionLabel="name"
            [style]="{ width: '250px' }"
            autofocus
          ></p-dropdown>
        </div>
        <div class="col pr-0">
          <label for="Role">Zone</label>
          <p-dropdown
            class="mx-2"
            id="Role"
            (onChange)="onChangeZone($event)"
            [options]="zonelist"
            placeholder="Select Zone"
            [(ngModel)]="selectedZone"
            optionLabel="zone_name"
            [style]="{ width: '250px' }"
            autofocus
          ></p-dropdown>
        </div>
      </div>
      <div class="row mx-0">
        <div class="col pl-0">
          <label for="name">First Name</label>
          <input
            type="text"
            pInputText
            id="name"
            [(ngModel)]="user.firstname"
            required
            autofocus
            [class]="invalidFirstName"
          />
        </div>
        <div class="col pr-0">
          <label for="surname">Last Name</label>
          <input
            type="text"
            pInputText
            id="surname"
            [(ngModel)]="user.lastname"
            required
            [class]="invalidSurname"
          />
        </div>
      </div>
    </div>
    <div class="p-field">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        id="email"
        [(ngModel)]="user.email"
        required
        [class]="invalidEmail"
      />
      <small class="p-invalid" *ngIf="submitted && !user.email"
        >Username is required.</small
      >
    </div>
    <div class="p-field">
      <label for="username">Username</label>
      <input
        type="text"
        pInputText
        id="username"
        [(ngModel)]="user.username"
        required
        [class]="invalidUserName"
        (keyup)="checkusername()"
      />
      <small class="p-invalid" *ngIf="submitted && !user.username"
        >Username is required.</small
      >
    </div>
    <label for="newPassword">Password</label>
    <input
      type="password"
      pInputText
      id="newPassword"
      [(ngModel)]="user.password"
      [class]="invinvalid3"
      (keyup)="checkPassword()"
    />

    <small class=" p-invalid" *ngIf="!isValid">
      Password must be at least 8 characters long and contain at least one
      uppercase letter, one lowercase letter, one special letter and one number.
      <i
        class="pi pi-info-circle"
        style="font-size: 1rem; margin-left: 8px;"
        title="One of this special characters is required in your password #$%^&*+_"
      ></i>
    </small>
    <small
      class=" p-invalid"
      *ngIf="isValid"
      style="color:seagreen ; font-weight: bold;"
      >Strong Password !</small
    >
    <small class="p-invalid" *ngIf="submitted && !user.password">
      Password is required.</small
    >

    <div class="p-field">
      <label for="name">Confirm Password</label>
      <input
        type="password"
        pInputText
        id="passwords"
        [(ngModel)]="user_password"
        [class]="invalidRepeatPassword"
        required
      />
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-danger"
      (click)="hideDialogEdit()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-success"
      (click)="saveUserEdit()"
    ></button>
  </ng-template>
</p-dialog>
<p-dialog
  [(visible)]="userDialog"
  [style]="{ width: '700px' }"
  [(header)]="dailog_header"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ 'overflow-y': 'auto', 'overflow-x': 'auto' }"
  (onHide)="hideDialog()"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <div class="row mx-0">
        <div class="col pl-0">
          <label for="Role">Role</label>
          <p-dropdown
            class="mx-2"
            id="Role"
            (onChange)="onChangeRole($event)"
            [options]="roles"
            [(ngModel)]="selectedRole"
            optionLabel="name"
            [style]="{ width: '250px' }"
            autofocus
          ></p-dropdown>
        </div>
        <div class="col pr-0">
          <label for="Role">Zone</label>
          <p-dropdown
            class="mx-2"
            id="Role"
            (onChange)="onChangeZone($event)"
            [options]="zonelist"
            placeholder="Select Zone"
            [(ngModel)]="selectedZone"
            optionLabel="zone_name"
            [style]="{ width: '250px' }"
            autofocus
          ></p-dropdown>
        </div>
      </div>
      <!-- <div class="col pl-0">
                <label for="Role">Role</label>
                <p-dropdown class="mx-2" id="Role" (onChange)="onChangeRole($event)" [options]="roles"
                    [(ngModel)]="selectedRole" optionLabel="name" [style]="{'width':'250px'}" autofocus></p-dropdown>
            </div> -->
      <div class="row mx-0">
        <div class="col pl-0">
          <label for="name">First Name</label>
          <input
            type="text"
            pInputText
            id="name"
            [(ngModel)]="user.firstname"
            required
            autofocus
            [class]="invalidFirstName"
          />
        </div>
        <div class="col pr-0">
          <label for="surname">Last Name</label>
          <input
            type="text"
            pInputText
            id="surname"
            [(ngModel)]="user.lastname"
            required
            [class]="invalidSurname"
          />
        </div>
      </div>
    </div>

    <div class="p-field">
      <label for="username">Username</label>
      <input
        type="text"
        pInputText
        id="username"
        [(ngModel)]="user.username"
        required
        [class]="invalidUserName"
        (keyup)="checkusername()"
      />
      <small class="p-invalid" *ngIf="submitted && !user.username"
        >Username is required.</small
      >
    </div>
    <div class="p-field">
      <label for="name">Password</label>
      <input
        type="password"
        pInputText
        id="newPassword"
        [(ngModel)]="user.password"
        [class]="invinvalid3"
        (keyup)="checkPassword()"
      />
      <small class=" p-invalid" *ngIf="!isValid">
        Password must be at least 8 characters long and contain at least one
        uppercase letter, one lowercase letter, one special letter and one
        number.
        <i
          class="pi pi-info-circle"
          style="font-size: 1rem; margin-left: 8px;"
          title="One of this special characters is required in your password #$%^&*+_"
        ></i>
      </small>
      <small
        class=" p-invalid"
        *ngIf="isValid"
        style="color:seagreen ; font-weight: bold;"
        >Strong Password !</small
      >
      <small class="p-invalid" *ngIf="submitted && !user.password"
        >New Password is required.</small
      >

      <div class="p-field">
        <label for="name">Confirm Password</label>
        <input
          type="password"
          pInputText
          id="passwords"
          [(ngModel)]="user_password"
          [class]="invalidRepeatPassword"
          required
        />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-danger"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-success"
      (click)="saveUser()"
    ></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
