<p-toast></p-toast>

<nav [(class)]="styleClassTheme" style="z-index: 10 !important;">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div style="width: 200px; margin-top: 10px;">
        <div>
          <h5 style="color: white;">Data Exchange</h5>
        </div>
      </div>
      <div>
        <ul class="navbar-nav" *ngIf="isCurrentPage('/realtime')">
          <li>
            <a
              class="navbar-brand c-btn"
              href="javascript:void(0)"
              (click)="onNavClick('1')"
              [class]="'nav-item-1'"
            >
              สภาพการจราจร
            </a>
          </li>
          <li>
            <a
              class="navbar-brand c-btn"
              href="javascript:void(0)"
              (click)="onNavClick('2')"
              [class]="'nav-item-2'"
            >
              เปรียบเทียบ
            </a>
          </li>
          <li>
            <a
              class="navbar-brand c-btn"
              href="javascript:void(0)"
              (click)="onNavClick('3')"
              [class]="'nav-item-3'"
            >
              ที่จอดรถ
            </a>
          </li>
          <li>
            <a
              class="navbar-brand c-btn"
              href="javascript:void(0)"
              (click)="onNavClick('4')"
              [class]="'nav-item-4'"
            >
              สถานะเซ็นเซอร์
            </a>
          </li>
        </ul>
        <ul class="navbar-nav" *ngIf="isCurrentPage('/stats')">
          <li>
            <a
              class="navbar-brand c-btn"
              href="javascript:void(0)"
              (click)="onNavClick('1')"
              [class]="'nav-item-1'"
            >
              การจัดการอุบัติการณ์
            </a>
          </li>
          <li>
            <a
              class="navbar-brand c-btn"
              href="javascript:void(0)"
              (click)="onNavClick('2')"
              [class]="'nav-item-2'"
            >
              ความถี่การเกิดอุบัติเหตุ
            </a>
          </li>
          <li>
            <a
              class="navbar-brand c-btn"
              href="javascript:void(0)"
              (click)="onNavClick('3')"
              [class]="'nav-item-3'"
            >
              อัตรารถผ่านด่าน
            </a>
          </li>
          <li>
            <a
              class="navbar-brand c-btn"
              href="javascript:void(0)"
              (click)="onNavClick('4')"
              [class]="'nav-item-4'"
            >
              จุด Black Spot
            </a>
          </li>
          <li>
            <a
              class="navbar-brand c-btn"
              href="javascript:void(0)"
              (click)="onNavClick('5')"
              [class]="'nav-item-5'"
            >
              จำนวนผู้ใช้
            </a>
          </li>
          <li>
            <a
              class="navbar-brand c-btn"
              href="javascript:void(0)"
              (click)="onNavClick('6')"
              [class]="'nav-item-6'"
            >
              รายงาน
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div
      class="navbar-nav"
      style="position: absolute; right: 0; top: 0; height: 100%; display: flex; align-items: center; margin-right: 8px;"
    >
      <li class="nav-item">
        <a
          class="nav-link btn-rotate"
          href="javascript:void(0)"
          (click)="logout()"
        >
          <i class="nc-icon pi pi-sign-out"></i>
        </a>
      </li>
    </div>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="collapseExample"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav">
        <!-- Other nav items can go here -->
      </ul>
    </div>
  </div>
</nav>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
