/* .checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: end;
  } */
  
  .row {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: baseline; /* Center checkboxes vertically in each column */
  }
  
  .c-btn {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

@keyframes blink {
  0% {
    background-color: transparent !important;
  }
  50% {
    background-color: #ffff99 !important; /* เปลี่ยนสีตามที่คุณต้องการ */
  }
  100% {
    background-color: transparent !important;
  }
}

.blink-effect {
  animation: blink 1s !important; /* แสดงผล 1 วินาที */
}

.horizontal-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #495057; /* เพิ่ม background color */
  padding: 10px; /* เพิ่ม padding เพื่อความสวยงาม */
  border-radius: 5px; /* เพิ่ม border-radius ให้ดูมีความโค้งมน */
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff; /* เปลี่ยนสีตัวอักษรให้เป็นสีขาวเพื่อให้ตัดกับพื้นหลัง */
}

.nav-link:hover {
  color: #adb5bd; /* เปลี่ยนสีเมื่อ hover */
}







