<router-outlet>
    <!-- <ng-container *ngIf="showIcon">
        <div
            style="float: left; position: fixed; z-index: 3000; bottom:8px; left:0; background: transparent; display: flex; margin-bottom: 8px; margin-left:8px;">
            <div *ngIf="isLightTheme" (click)="changeTheme('saga-orange')" style="cursor: pointer;">
                <img src="./assets/img/sun.png" style="margin-left: 8px; width:40px; height:40px;  ">
            </div>
            <div *ngIf="isDarkTheme" (click)="changeTheme('arya-orange')" style="cursor: pointer;">
                <img src="./assets/img/night-mode.png" style="margin-left: 8px; width:30px; height:30px">
            </div>
        </div>
    </ng-container> -->
</router-outlet>