<p-toast></p-toast>
<div class="col-12 card bgcards p-2" style="position: relative;">
  <div class="pt-4 pb-4">
    <p-toolbar styleClass="p-mb-4">
      <div class="p-toolbar-group-left">
        <div style="font-size: 18px; font-weight: 600;" class="text-color">
          API Log
        </div>
      </div>
      <div class="p-toolbar-group-right">
        <span class="p-input-icon-left" style="width: 100%; max-width: 300px;">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            class="Searchtxt new-font"
            placeholder="Search..."
            style="width: 100%;"
          />
        </span>
      </div>
    </p-toolbar>

    <p-table
      #dt
      [value]="tokenList"
      [rows]="10"
      [paginator]="true"
      [loading]="isLoadingalarmGroups"
      [globalFilterFields]="['id', 'tag', 'endpoints', 'user_id']"
      [(selection)]="alarmGroups"
      dataKey="group_id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
      scrollable="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="tag" style="width: 20%;">
            Tag<p-sortIcon field="tag"></p-sortIcon>
          </th>
          <th pSortableColumn="endpoints" style="width: 40%;">
            Endpoint<p-sortIcon field="endpoints"></p-sortIcon>
          </th>
          <th pSortableColumn="user_id" style="width: 20%;">
            User<p-sortIcon field="user_id"></p-sortIcon>
          </th>
          <th pSortableColumn="created_at" style="width: 20%;">
            วันที่<p-sortIcon field="created_at"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-group let-rowIndex>
        <tr>
          <td class="truncate" title="{{ group.tag }}">
            {{ group.tag }}
          </td>
          <td class="truncate" title="{{ group.endpoints }}">
            {{ group.endpoints }}
          </td>
          <td class="truncate" title="{{ group.user_id }}">
            {{ group.user_id }}
          </td>
          <td
            class="truncate"
            title="{{ group.created_at | date: 'dd-MM-YYYY HH:mm:ss' }}"
          >
            {{ group.created_at | date: "dd-MM-YYYY HH:mm:ss" }}
          </td>
          <td style="text-align: center;">
            <p-menu
              #menu
              [popup]="true"
              [model]="itemsAction"
              appendTo="body"
            ></p-menu>
            <button
              pButton
              type="text"
              (click)="openMenuWithItems(group, $event, menu)"
              icon="pi pi-ellipsis-h"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          Total {{ alarmGroups ? alarmGroups.length : 0 }} groups.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog
  [(visible)]="lineDialog"
  [style]="{ width: '650px' }"
  [(header)]="dialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ overflow: 'visible' }"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <div class="row mx-0">
        <div class="col pl-0">
          <label
            for="id"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >ID:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_id }}</span>
          <br />
          <label
            for="name"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >Group Name:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_name }}</span>
          <br />
          <label
            for="Drescription"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >Description:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_description }}</span>
          <br />
          <label
            for="Email"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            *nglf="AlarmGroup.email != '' || AlarmGroup.email != null"
            >Email:</label
          >&nbsp;&nbsp;&nbsp;
          <span *nglf="AlarmGroup.email != '' || AlarmGroup.email != null">{{
            AlarmGroup.email
          }}</span>
          <br *nglf="AlarmGroup.email != '' || AlarmGroup.email != null" />
          <br />
          <div style="display: flex; justify-content: space-between;">
            <div>
              <p-checkbox
                name="groupname"
                value="recoveryNotification"
                label="Recovery Notification"
                (onChange)="changecheck($event)"
                [(ngModel)]="selectedValues"
                readonly="true"
              ></p-checkbox>
              &nbsp; &nbsp;
              <p-checkbox
                name="groupname"
                value="resendNotification"
                label="Resend Notification"
                (onChange)="changecheck($event)"
                [(ngModel)]="selectedValues"
                readonly="true"
              ></p-checkbox>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 p-0">
            <div class="row mx-0 mt-2">
              <div class="col-12 pr-2">
                <p-table
                  [value]="stringArray"
                  [scrollable]="true"
                  responsiveLayout="scroll"
                  scrollHeight="250px"
                  width="650px"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th
                        [ngClass]="{
                          'theme-arya-text':
                            themeService.theme === 'arya-orange',
                          'theme-saga-text':
                            themeService.theme === 'saga-orange'
                        }"
                      >
                        Monitor alarm of
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-stringArray>
                    <tr>
                      <td>
                        <li>{{ stringArray }}</li>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="alarmGroupDialog"
  [style]="{ width: '1050px' }"
  styleClass="modalResponsivo"
  [(header)]="dialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ 'overflow-y': 'auto', 'overflow-x': 'auto' }"
>
  <ng-template pTemplate="content">
    <div class="col-12">
      <div class="row form-group">
        <div>
          <p-radioButton
            name="viewMode"
            value="monthly"
            [(ngModel)]="viewMode"
            inputId="monthly"
            (ngModelChange)="updateChart()"
          ></p-radioButton>
          <label for="monthly" style="margin-left: 10px; margin-right: 10px;"
            >รายเดือน</label
          >
        </div>
        <div>
          <p-radioButton
            name="viewMode"
            value="yearly"
            [(ngModel)]="viewMode"
            inputId="yearly"
            (ngModelChange)="updateChart()"
          ></p-radioButton>
          <label for="yearly" style="margin-left: 10px;">รายปี</label>
        </div>
      </div>
      <div class="form-group" *ngIf="viewMode === 'monthly'">
        <label>เลือกเดือน</label>
        <p-dropdown
          [options]="months"
          [(ngModel)]="selectedMonth"
          placeholder="เลือกเดือน"
          (onChange)="updateChart()"
        ></p-dropdown>
      </div>
      <div
        class="form-group"
        *ngIf="viewMode === 'yearly' || viewMode === 'monthly'"
      >
        <label>เลือกปี</label>
        <p-dropdown
          [options]="years"
          [(ngModel)]="selectedYear"
          placeholder="เลือกปี"
          (onChange)="updateChart()"
        ></p-dropdown>
      </div>
      <highcharts-chart
        [Highcharts]="Highcharts5_1"
        [options]="chartOptions5_1"
        style="width: 100%; display: block;"
      ></highcharts-chart>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
