<p-toast></p-toast>
<!-- <p-toolbar styleClass="p-mb-4">
    </p-toolbar> -->

<p-card
  class="col-12 card card-stats p-6"
  [style.backgroundColor]="'#718096'"
  [ngClass]="{
    'theme-arya': themeService.theme === 'arya-orange',
    'theme-saga': themeService.theme === 'saga-orange'
  }"
>
 

  <p-toolbar styleClass="p-mb-4">
    <div class="p-toolbar-group-left">
      <div style="font-size: 18px; font-weight: 600;" class="text-color">
        API Library ทั้งหมด
      </div>
    </div>
    <div class="p-toolbar-group-right">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          class="Searchtxt new-font"
          placeholder="Search..."
        />
      </span>
    </div>
  </p-toolbar>

  <div class="container-fluid py-4">
    <div class="row">
      <div
        *ngFor="let group of alarmGroups; let i = index"
        class="col-6 col-md-4 col-lg-2 mb-3"
      >
        <div
          class="card h-100 shadow-sm position-relative"
          style="background-color: #718096"
        >
          <!-- แสดงสัญลักษณ์ ! ก็ต่อเมื่อ group.description มีค่า -->
          <div
          *ngIf="group.description"
          class="position-absolute"
          style="top: 0; right: 0; margin: 0.5rem; cursor: pointer;"
          pTooltip="{{ group.description }}"
          tooltipPosition="top"
          >
          <span
            style="background-color: red; color: white; font-weight: bold; border-radius: 50%; padding: 0.4rem 0.8rem; font-size: 0.8rem;"
            >?</span
          >
          </div>

  
          <div
            class="card-body d-flex flex-column align-items-center text-center"
          >
            <h5 class="card-title">{{ group.tag }}</h5>
            <button
              class="btn mt-3"
              [ngClass]="{
                'btn-warning': group.status !== 1 && group.status !== 2,
                'btn-success': group.status == 1 || group.status == 2
              }"
              (click)="openRequestDialog(group.api_id)"
            >
              {{
                group.status == 1 || group.status == 2
                  ? "เปิดใช้งานแล้ว"
                  : "ยังไม่เปิดใช้งาน"
              }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <p-toolbar styleClass="p-mb-4">
    <div class="p-toolbar-group-left">
      <div style="font-size: 18px; font-weight: 600;" class="text-color">
        API Library ของฉัน
      </div>
    </div>
    <div class="p-toolbar-group-right">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          class="Searchtxt new-font"
          placeholder="Search..."
        />
      </span>
    </div>
  </p-toolbar>
  <p-table
    #dt
    [value]="tokenList"
    [rows]="10"
    [paginator]="true"
    [loading]="isLoadingalarmGroups"
    [globalFilterFields]="['id', 'tag', 'endpoints']"
    [(selection)]="tokenList"
    [rowHover]="true"
    dataKey="group_id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <!-- <th style="width: 3rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th> -->

        <th style="text-align:center;" pSortableColumn="id" class="col-1">
          ลำดับ
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="status" class="col-3">
          Status
          <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="tag" class="col-2">
          Tag
          <p-sortIcon field="tag"></p-sortIcon>
        </th>
        <th pSortableColumn="endpoints" class="col-2">
          End Point
          <p-sortIcon field="endpoints"></p-sortIcon>
        </th>
        <th pSortableColumn="token" class="col-4">
          API Key
          <p-sortIcon field="token"></p-sortIcon>
        </th>
        <th pSortableColumn="expires_at" class="col-4">
          วันที่หมดอายุ
          <p-sortIcon field="expires_at"></p-sortIcon>
        </th>

        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-group let-rowIndex>
      <tr (click)="openEditDialog(group)">
        <!-- <td>
                      <p-tableCheckbox [value]="group"></p-tableCheckbox>
                  </td> -->
        <td style="text-align:center;">{{ group.row_number }}</td>
        <!-- <td> -->
        <!-- <div id="myDIV3" title="{{group.status_description}}">{{group.status_description}}</div> -->
        <td>
          <div
            id="myDIV2"
            [ngClass]="{
              'bg-success text-white': group.status_description === 'เปิดใช้งาน',
              'bg-primary text-white': group.status_description === 'รอตรวจสอบจากเจ้าหน้าที่',
              'bg-danger text-white': group.status_description === 'ปฏิเสธ',
              'bg-secondary text-white': group.status_description === 'ปิดใช้งาน'
            }"
            class="p-2 rounded text-center position-relative"
            title="{{ group.status_description }}"
          >
            {{ group.status_description }}
        
            <!-- แสดงไอคอน ? ในปุ่ม -->
            <span
              *ngIf="group.status_description === 'ปฏิเสธ'"
              pTooltip="{{ group.admin_details }}"
              tooltipPosition="top"
              style="
                display: inline-block;
                margin-left: 8px;
                background-color: white;
                color: red;
                font-weight: bold;
                border-radius: 50%;
                padding: 0.4rem 0.8rem;
                cursor: pointer;
                font-size: 0.8rem;
              "
            >
              ?
            </span>
          </div>
        </td>
        
        <!-- </td> -->
        <td>
          <div id="myDIV1" title="{{ group.tag }}">{{ group.tag }}</div>
        </td>
        <td>
          <div id="myDIV1" title="{{ group.endpoints }}">{{ group.endpoints }}</div>
        </td>
        <td>
          <div id="myDIV2" title="{{ group.token }}">{{ group.token }}</div>
        </td>
        <td>
          <div id="myDIV2" title="{{ group.expires_at }}">{{ group.expires_at | date: 'dd/MM/yyyy' }}</div>
        </td>
        <!--<td>{{group.symbol_name}}</td>-->
        <td></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Total {{ alarmGroups ? alarmGroups.length : 0 }} groups.
      </div>
    </ng-template>
  </p-table>
</p-card>

<p-dialog
  [(visible)]="lineDialog"
  [style]="{ width: '650px' }"
  [(header)]="dialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ overflow: 'visible' }"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <div class="row mx-0">
        <div class="col pl-0">
          <label
            for="id"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >ID:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_id }}</span>
          <br />
          <label
            for="name"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >Group Name:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_name }}</span>
          <br />
          <label
            for="Drescription"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >Description:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_description }}</span>
          <br />
          <label
            for="Email"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            *nglf="AlarmGroup.email != '' || AlarmGroup.email != null"
            >Email:</label
          >&nbsp;&nbsp;&nbsp;
          <span *nglf="AlarmGroup.email != '' || AlarmGroup.email != null">{{
            AlarmGroup.email
          }}</span>
          <br *nglf="AlarmGroup.email != '' || AlarmGroup.email != null" />
          <br />
          <div style="display: flex; justify-content: space-between;">
            <!-- Left Footer Content -->
            <div>
              <p-checkbox
                name="groupname"
                value="recoveryNotification"
                label="Recovery Notification"
                (onChange)="changecheck($event)"
                [(ngModel)]="selectedValues"
                readonly="true"
              ></p-checkbox>
              &nbsp; &nbsp;
              <p-checkbox
                name="groupname"
                value="resendNotification"
                label="Resend Notification"
                (onChange)="changecheck($event)"
                [(ngModel)]="selectedValues"
                readonly="true"
              ></p-checkbox>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 p-0">
            <div class="row mx-0 mt-2">
              <div class="col-12 pr-2">
                <p-table
                  [value]="stringArray"
                  [scrollable]="true"
                  responsiveLayout="scroll"
                  scrollHeight="250px"
                  width="650px"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th
                        [ngClass]="{
                          'theme-arya-text':
                            themeService.theme === 'arya-orange',
                          'theme-saga-text':
                            themeService.theme === 'saga-orange'
                        }"
                      >
                        Monitor alarm of
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-stringArray>
                    <tr>
                      <td>
                        <li>{{ stringArray }}</li>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <!-- <div class="col-12 pr-2" style="text-align: center; font-weight: bold; font-size: 2rem;"
                            *ngIf="hasNoSearchResult">
                            No seacrh result.
                        </div> -->
              </div>
            </div>
          </div>
          <!-- <input type="text"  pInputText id="symbol_name" [(ngModel)]="AlarmGroup.symbol_name" required autofocus disabled /> -->
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="alarmGroupDialog"
  styleClass="modalResponsivo"
  [(header)]="dialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ 'overflow-y': 'auto', 'overflow-x': 'auto' }"
>
  <ng-template pTemplate="content">
    <!-- <div class="col-12 justify-content-between flex">
            <div class="row">

                <input type="text" pInputText id="nameSearch" [(ngModel)]="nameSearch" autofocus (input)="nameInput()"
                    class="nameSearch" placeholder="Search by Symbol Name" />

                <input type="text" pInputText id="ipSearch" [(ngModel)]="ipSearch" (input)="ipInput()" class="ipSearch"
                    placeholder="Search by IP Address" />

                <button pButton pRipple label="Search" icon="pi pi-search" class="p-button ml-1 butSearch"
                    (click)="searchSymbol()"></button>

            </div>
        </div> -->
    <!-- <div class="col-12 col-sm-12 col-md-12 p-0">
            <div class="row mx-0 mt-2">
                <div class="col-12 pr-2">
                    <p-table [value]="symbolData" responsiveLayout="scroll" scrollHeight="200px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="text-align:center;" class="col-2 pl-0">
                                    SYMBOL ID
                                </th>
                                <th class="col-4 pl-0">
                                    SYMBOL Name
                                </th>
                                <th class="col-4 pl-0">
                                    IP Address
                                </th>
                                <th class="col-2 pl-0">
                                    Action
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" *ngIf="hasNoSearchResult; else otherField">
                            <tr>
                                <td colspan="4">No seacrh result.</td>
                            </tr>
                        </ng-template>
                        <ng-template #otherField pTemplate="body" let-rowData>

                            <tr>
                                <td class="col-2 pl-0">{{rowData.SYMBOL_ID}}</td>
                                <td class="col-4 pl-0">
                                    <div class="myDIV3" title="{{rowData.SYMBOL_NAME1}}">{{rowData.SYMBOL_NAME1}}</div>
                                </td>
                                <td class="col-4 pl-0">
                                    <div class="myDIV3" title="{{rowData.SYMBOL_NAME3}}">{{rowData.SYMBOL_NAME3}}</div>
                                </td>
                                <td class="col-2 pl-0">
                                    <button pButton pRipple class="Newbuttd" (click)="addSymbol(rowData)"><i
                                            class="pi pi-plus"></i></button>
                                    <button pButton pRipple class="oldbut" (click)="addSymbol(rowData)">Add</button>
                                </td>
                            </tr>

                        </ng-template>
                    </p-table>
               
                </div>
            </div>
        </div> -->
    <div
      style="background-color: grey; width:100%; border-top: 1px dashed grey;"
    ></div>
    <div class="col-12 justify-content-between flex">
      <div class="row mx-0">
        <div class="col-6 pr-0">
          <label for="tag" style="font-weight: bold;">Tag</label>
          <input
            type="text"
            pInputText
            id="tag"
            [(ngModel)]="alarmGroup.tag"
            required
            class="tag"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.tag"
            >Tag is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="endpoints" style="font-weight: bold;">Endpoints</label>
          <input
            type="text"
            pInputText
            id="endpoints"
            [(ngModel)]="alarmGroup.endpoints"
            required
            class="endpoints"
            [class]="invalid"
          />
          <small
            class="p-error block"
            *ngIf="submitted && !alarmGroup.endpoints"
            >Endpoints is required.</small
          >
        </div>
        <!-- <div class="col-1 pr-0"></div> -->
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="methods" style="font-weight: bold;">Methods</label>
          <input
            type="text"
            pInputText
            id="methods"
            [(ngModel)]="alarmGroup.methods"
            required
            class="methods"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.methods"
            >Methods is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="request" style="font-weight: bold;">Request</label>
          <input
            type="text"
            pInputText
            id="request"
            [(ngModel)]="alarmGroup.request"
            required
            class="request"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.request"
            >Request is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="response" style="font-weight: bold;">Response</label>
          <input
            type="text"
            pInputText
            id="response"
            [(ngModel)]="alarmGroup.response"
            required
            class="response"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.response"
            >Response is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="table" style="font-weight: bold;">Table</label>
          <input
            type="text"
            pInputText
            id="table"
            [(ngModel)]="alarmGroup.table"
            required
            class="table"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.table"
            >Table is required.</small
          >
        </div>
      </div>
    </div>

    <!-- <div style="padding-top: 30px;">
            <label for="email" style="font-weight: bold;">Email: </label>
            <input type="text" pInputText id="email" [(ngModel)]="emailsendline" style="width: 50%; margin-left: 15px;"
                placeholder="Optional" />
        </div> -->
  </ng-template>

  <ng-template pTemplate="footer" class="footer">
    <div style="display:flex">
      <p-checkbox
        name="groupname"
        value="recoveryNotification"
        label="Active"
        (onChange)="changecheck($event)"
        [(ngModel)]="selectedValues"
      ></p-checkbox>
      &nbsp; &nbsp;
      <!-- <p-checkbox name="groupname" value="resendNotification" label="Resend Notification"
                (onChange)="changecheck($event)" [(ngModel)]="selectedValues"></p-checkbox> -->
      <!-- <p-dropdown style="width: 120px; margin-left: 16px;" [options]="minutes" [(ngModel)]="selectedValue" optionLabel="name"
                 placeholder="Resend interval"></p-dropdown> -->
    </div>

    <div style="float: right;">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-danger"
        (click)="hideDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Create"
        icon="pi pi-check"
        class="p-button-success"
        *ngIf="check1"
        (click)="createGroup()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-success"
        *ngIf="check"
        (click)="editlistGroup()"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="requestDialog"
  [style]="{ width: '650px' }"
  [(header)]="requestDialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ overflow: 'visible' }"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="details" style="font-weight: bold;">รายละเอียด</label>
      <textarea
        id="details"
        rows="5"
        [(ngModel)]="requestDetails"
        pInputTextarea
        placeholder="กรอกรายละเอียด..."
        style="width: 100%;"
      ></textarea>
    </div>
    <div class="p-field" style="margin-top: 20px;">
      <label for="duration" style="font-weight: bold;">เลือกระยะเวลา</label>
      <p-dropdown
        id="duration"
        [options]="durationOptions"
        [(ngModel)]="selectedDuration"
        placeholder="เลือกระยะเวลา"
        optionLabel="label"
        style="width: 100%;"
      ></p-dropdown>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div style="float: right;">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-danger"
        (click)="closeDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-success"
        (click)="createToken()"
      ></button>
    </div>
  </ng-template>
</p-dialog>


<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
