<p-toast></p-toast>

<div class="col-12 card bgcards p-2" style="position: relative;">
  <div class="pt-4 pb-4">
    <p-toolbar styleClass="p-mb-4">
      <div class="p-toolbar-group-left">
        <div style="font-size: 18px; font-weight: 600;" class="text-color">
          All API Library
        </div>
      </div>
      <div class="p-toolbar-group-right">
        <div style="margin-right: 8px; font-weight: bolder;">
          Interval Time Every 5 Mintues
        </div>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchText"
            class="Searchtxt new-font"
            placeholder="Search..."
          />
        </span>
      </div>
    </p-toolbar>

    <div class="container-fluid py-4">
      <div class="row justify-content-center">
        <div
          *ngFor="let group of getFilteredGroups(); let i = index"
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1 mb-3"
        >
          <div class="card h-100 shadow-sm position-relative bgcardsdrop">
            <!-- Display the description symbol if group.description exists -->
            <div
              *ngIf="group.description"
              class="position-absolute"
              style="top: 0; right: 0; margin: 0.5rem; cursor: pointer;"
              [pTooltip]="!isMobile ? group.description : null"
              tooltipPosition="top"
              (click)="isMobile && showDescription(group.description)"
            >
              <span
                style="background-color: red; color: white; font-weight: bold; border-radius: 50%; padding: 0.4rem 0.8rem; font-size: 0.8rem;"
                >?</span
              >
            </div>

            <div
              class="card-body d-flex flex-column align-items-center text-center"
            >
              <span
                class="card-title"
                style="font-size:18px; font-weight: bold; color:white"
                >{{ group.tag }}</span
              >
              <div style="font-weight: bold; color:white">
                {{ group.endpoints }}
              </div>
              <button
                class="btn mt-3"
                [ngClass]="{
                  'btn-info': group.status == 1,
                  'btn-success': group.status == 2,
                  'btn-warning': group.status !== 1 && group.status !== 2
                }"
                style="font-size:16px; color:black"
                (click)="openRequestDialog(group)"
              >
                {{
                  group.status == 1
                    ? "รอตรวจสอบจากเจ้าหน้าที่"
                    : group.status == 2
                    ? "เปิดใช้งานแล้ว"
                    : "ยังไม่เปิดใช้งาน"
                }}
              </button>

              <div
                style="color: antiquewhite; font-weight: bold; display: flex; align-items: center;"
              >
                <div *ngIf="userGroupCheck === 'develop'">
                  <span
                    [ngClass]="{
                      'green-dot': group.statusAPI === 200,
                      'red-dot': group.statusAPI !== 200,
                      'yellow-dot': !group.statusAPI
                    }"
                    class="status-dot"
                  ></span>
                  <span style="margin-left: 0.5rem;">{{ group.data }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Search input -->
    </div>

    <p-toolbar styleClass="p-mb-4">
      <div class="p-toolbar-group-left">
        <div style="font-size: 18px; font-weight: 600;" class="text-color">
          My API Library
        </div>
      </div>
      <div class="p-toolbar-group-right">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            class="Searchtxt new-font"
            placeholder="Search..."
          />
        </span>
      </div>
    </p-toolbar>

    <!-- Desktop View -->
    <div>
      <p-table
        [value]="filteredGroups"
        #dt
        [value]="tokenList"
        [rows]="10"
        [paginator]="true"
        [loading]="isLoadingalarmGroups"
        [globalFilterFields]="[
          'id',
          'tag',
          'endpoints',
          'expires_at',
          'token',
          'status_description'
        ]"
        dataKey="group_id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="status">
              Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="tag">
              Tag <p-sortIcon field="tag"></p-sortIcon>
            </th>
            <th pSortableColumn="endpoints">
              End Point <p-sortIcon field="endpoints"></p-sortIcon>
            </th>
            <th pSortableColumn="token">
              API Key <p-sortIcon field="token"></p-sortIcon>
            </th>
            <th pSortableColumn="expires_at">
              Expired Date <p-sortIcon field="expires_at"></p-sortIcon>
            </th>
            <!-- <th pSortableColumn="noted">
              Noted <p-sortIcon field="noted"></p-sortIcon>
            </th> -->
            <th></th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-group>
          <tr>
            <td *ngIf="!isMobile">
              <div
                [ngClass]="{
                  'bg-success text-white':
                    group.status_description === 'เปิดใช้งาน',
                  'bg-primary text-white':
                    group.status_description === 'รอตรวจสอบจากเจ้าหน้าที่',
                  'bg-danger text-white': group.status_description === 'ปฏิเสธ',
                  'bg-secondary text-white':
                    group.status_description === 'ปิดใช้งาน'
                }"
                class="p-2 rounded"
                style="text-align: center;"
                title="{{ group.status_description }}"
              >
                {{ group.status_description }}
              </div>
            </td>
            <td
              *ngIf="isMobile"
              style="display: flex; justify-content: flex-start;"
            >
              Status:
              <div
                style="margin-left:8px"
                [ngClass]="{
                  'bg-success text-white':
                    group.status_description === 'เปิดใช้งาน',
                  'bg-primary text-white':
                    group.status_description === 'รอตรวจสอบจากเจ้าหน้าที่',
                  'bg-danger text-white': group.status_description === 'ปฏิเสธ',
                  'bg-secondary text-white':
                    group.status_description === 'ปิดใช้งาน'
                }"
                class="p-2 rounded"
                title="{{ group.status_description }}"
              >
                {{ group.status_description }}
              </div>
            </td>

            <td *ngIf="!isMobile">{{ group.tag }}</td>
            <td *ngIf="isMobile">Tag: {{ group.tag }}</td>

            <td *ngIf="!isMobile">{{ group.endpoints }}</td>
            <td *ngIf="isMobile">End Point: {{ group.endpoints }}</td>

            <td *ngIf="!isMobile">{{ group.token }}</td>
            <td *ngIf="isMobile">API Key: {{ group.token }}</td>

            <td *ngIf="!isMobile">
              {{ group.expires_at | date: "dd-MM-yyyy" }}
            </td>
            <td *ngIf="isMobile">
              Expired Date: {{ group.expires_at | date: "dd-MM-yyyy" }}
            </td>
            <!-- <td *ngIf="!isMobile">
              <button
                pButton
                type="button"
                icon="pi pi-info"
                (click)="showAdminDetails(group)"
              ></button>
            </td>
            <td *ngIf="isMobile">
              <button
                pButton
                type="button"
                icon="pi pi-info"
                (click)="showAdminDetails(group)"
              ></button>
            </td> -->

            <p-dialog
              [(visible)]="isDialogVisible"
              header="Library Details"
              [modal]="true"
              [closable]="true"
              [style]="{ width: '50vw' }"
              (onHide)="closeDialog()"
            >
              <div *ngIf="selectedGroup">
                <p>
                  <strong>Status:</strong>
                  {{ selectedGroup.status_description }}
                </p>
                <p><strong>Tag:</strong> {{ selectedGroup.tag }}</p>
                <p><strong>End Point:</strong> {{ selectedGroup.endpoints }}</p>
                <p><strong>API Key:</strong> {{ selectedGroup.token }}</p>
                <p>
                  <strong>Expired Date:</strong>
                  {{ selectedGroup.expires_at | date: "dd-MM-yyyy" }}
                </p>
                <p>
                  <strong>Request at:</strong>
                  {{ selectedGroup.request_at | date: "dd-MM-yyyy" }}
                </p>
                <p>
                  <strong>Approved at:</strong>
                  {{ selectedGroup.approve_at | date: "dd-MM-yyyy" }}
                </p>
                <p>
                  <strong>Reason:</strong>
                  {{ selectedGroup.admin_details }}
                </p>
              </div>
            </p-dialog>

            <td>
              <p-menu
                #menu
                [popup]="true"
                [model]="itemsAction"
                appendTo="body"
              ></p-menu>
              <button
                pButton
                type="text"
                (click)="setSelectedGroup(group); menu.toggle($event)"
                icon="pi pi-ellipsis-h"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div
        *ngIf="isLoadingData"
        style="display: flex; align-items: center; justify-content: center;"
      >
        <i
          class="pi pi-spin pi-spinner"
          style="font-size: 5rem; margin-top: 24px; color:white"
        ></i>
      </div>
    </div>
  </div>
</div>
<p-dialog
  [(visible)]="lineDialog"
  [style]="{ width: '650px' }"
  [(header)]="dialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ overflow: 'visible' }"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <div class="row mx-0">
        <div class="col pl-0">
          <label
            for="id"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >ID:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_id }}</span>
          <br />
          <label
            for="name"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >Group Name:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_name }}</span>
          <br />
          <label
            for="Drescription"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >Description:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_description }}</span>
          <br />
          <label
            for="Email"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            *nglf="AlarmGroup.email != '' || AlarmGroup.email != null"
            >Email:</label
          >&nbsp;&nbsp;&nbsp;
          <span *nglf="AlarmGroup.email != '' || AlarmGroup.email != null">{{
            AlarmGroup.email
          }}</span>
          <br *nglf="AlarmGroup.email != '' || AlarmGroup.email != null" />
          <br />
          <div style="display: flex; justify-content: space-between;">
            <!-- Left Footer Content -->
            <div>
              <p-checkbox
                name="groupname"
                value="recoveryNotification"
                label="Recovery Notification"
                (onChange)="changecheck($event)"
                [(ngModel)]="selectedValues"
                readonly="true"
              ></p-checkbox>
              &nbsp; &nbsp;
              <p-checkbox
                name="groupname"
                value="resendNotification"
                label="Resend Notification"
                (onChange)="changecheck($event)"
                [(ngModel)]="selectedValues"
                readonly="true"
              ></p-checkbox>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 p-0">
            <div class="row mx-0 mt-2">
              <div class="col-12 pr-2">
                <p-table
                  [value]="stringArray"
                  [scrollable]="true"
                  responsiveLayout="scroll"
                  scrollHeight="250px"
                  width="650px"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th
                        [ngClass]="{
                          'theme-arya-text':
                            themeService.theme === 'arya-orange',
                          'theme-saga-text':
                            themeService.theme === 'saga-orange'
                        }"
                      >
                        Monitor alarm of
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-stringArray>
                    <tr>
                      <td>
                        <li>{{ stringArray }}</li>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="alarmGroupDialog"
  styleClass="modalResponsivo"
  [(header)]="dialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ 'overflow-y': 'auto', 'overflow-x': 'auto' }"
>
  <ng-template pTemplate="content">
    <div
      style="background-color: grey; width:100%; border-top: 1px dashed grey;"
    ></div>
    <div class="col-12 justify-content-between flex">
      <div class="row mx-0">
        <div class="col-6 pr-0">
          <label for="tag" style="font-weight: bold;">Tag</label>
          <input
            type="text"
            pInputText
            id="tag"
            [(ngModel)]="alarmGroup.tag"
            required
            class="tag"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.tag"
            >Tag is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="endpoints" style="font-weight: bold;">Endpoints</label>
          <input
            type="text"
            pInputText
            id="endpoints"
            [(ngModel)]="alarmGroup.endpoints"
            required
            class="endpoints"
            [class]="invalid"
          />
          <small
            class="p-error block"
            *ngIf="submitted && !alarmGroup.endpoints"
            >Endpoints is required.</small
          >
        </div>
        <!-- <div class="col-1 pr-0"></div> -->
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="methods" style="font-weight: bold;">Methods</label>
          <input
            type="text"
            pInputText
            id="methods"
            [(ngModel)]="alarmGroup.methods"
            required
            class="methods"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.methods"
            >Methods is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="request" style="font-weight: bold;">Request</label>
          <input
            type="text"
            pInputText
            id="request"
            [(ngModel)]="alarmGroup.request"
            required
            class="request"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.request"
            >Request is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="response" style="font-weight: bold;">Response</label>
          <input
            type="text"
            pInputText
            id="response"
            [(ngModel)]="alarmGroup.response"
            required
            class="response"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.response"
            >Response is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="table" style="font-weight: bold;">Table</label>
          <input
            type="text"
            pInputText
            id="table"
            [(ngModel)]="alarmGroup.table"
            required
            class="table"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.table"
            >Table is required.</small
          >
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer" class="footer">
    <div style="display:flex">
      <p-checkbox
        name="groupname"
        value="recoveryNotification"
        label="Active"
        (onChange)="changecheck($event)"
        [(ngModel)]="selectedValues"
      ></p-checkbox>
      &nbsp; &nbsp;
    </div>

    <div style="float: right;">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-danger"
        (click)="hideDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Create"
        icon="pi pi-check"
        class="p-button-success"
        *ngIf="check1"
        (click)="createGroup()"
      ></button>
      <!-- <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-success"
        *ngIf="check"
        (click)="editlistGroup()"
      ></button> -->
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="requestDialog"
  [style]="{ width: '650px', height: '600px' }"
  [(header)]="requestDialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ overflow: 'visible' }"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="details" style="font-weight: bold;"
        >รายละเอียด (Optional)</label
      >
      <textarea
        id="details"
        rows="5"
        [(ngModel)]="requestDetails"
        pInputTextarea
        placeholder="กรอกรายละเอียด..."
        [readonly]="isReadOnly"
        style="width: 100%;"
      ></textarea>
    </div>

    <div class="p-field" style="margin-top: 20px;">
      <label for="duration" style="font-weight: bold;">เลือกระยะเวลา</label>
      <p-dropdown
        id="duration"
        [options]="durationOptions"
        [(ngModel)]="selectedDuration"
        placeholder="เลือกระยะเวลา"
        optionLabel="label"
        style="width: 100%;"
        [disabled]="isReadOnly"
        (onChange)="onDurationChange($event)"
      ></p-dropdown>
    </div>

    <div
      *ngIf="selectedDuration.value === '-1'"
      class="p-field"
      style="margin-top: 20px;"
    >
      <div class="row">
        <div class="col-6">
          <label for="fromDate">ตั้งแต่วันที่</label>
          <p-calendar
            id="fromDate"
            [(ngModel)]="fromDate"
            dateFormat="dd-mm-yy"
            placeholder="เลือกวันที่เริ่มต้น"
            style="width: 100%;"
            [minDate]="today"
            [showIcon]="true"
          ></p-calendar>
        </div>
        <div class="col-6">
          <label for="toDate">ถึงวันที่</label>
          <p-calendar
            id="toDate"
            [(ngModel)]="toDate"
            [minDate]="today"
            dateFormat="dd-mm-yy"
            placeholder="เลือกวันที่สิ้นสุด"
            style="width: 100%;"
            [disabled]="isReadOnly"
            [showIcon]="true"
          ></p-calendar>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div style="float: right;">
      <button
        *ngIf="!isReadOnly"
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-success"
        (click)="createToken()"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="descriptionDialogVisible"
  [style]="{ width: '300px' }"
  [modal]="true"
  [closable]="true"
>
  <ng-template pTemplate="header">
    รายละเอียด
  </ng-template>
  <ng-template pTemplate="content">
    <p>{{ selectedDescription }}</p>
  </ng-template>
</p-dialog>

<!-- <p-dialog
  [(visible)]="viewDialog"
  [style]="{ width: '650px' }"
  [(header)]="requestDialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ overflow: 'visible' }"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="details" style="font-weight: bold;">รายละเอียด</label>
      <textarea
        id="details"
        rows="5"
        [(ngModel)]="requestDetails"
        pInputTextarea
        placeholder="กรอกรายละเอียด..."
        [readonly]="true"
        readonly
        style="width: 100%;"
      ></textarea>
    </div>

    <div class="p-field" style="margin-top: 20px;">
      <label for="duration" style="font-weight: bold;">เลือกระยะเวลา</label>
      <p-dropdown
        id="duration"
        [options]="durationOptions"
        [(ngModel)]="selectedDuration"
        placeholder="เลือกระยะเวลา"
        optionLabel="label"
        style="width: 100%;"
      >
        ></p-dropdown
      >
    </div>

    <div
      *ngIf="selectedDuration?.value === '-1'"
      class="p-field"
      style="margin-top: 20px;"
    >
      <div class="row">
        <div class="col-6">
          <label for="fromDate">ตั้งแต่วันที่</label>
          <p-calendar
            id="fromDate"
            [(ngModel)]="fromDate"
            dateFormat="dd-mm-yy"
            placeholder="เลือกวันที่เริ่มต้น"
            style="width: 100%;"
          >
            ></p-calendar
          >
        </div>
        <div class="col-6">
          <label for="toDate">ถึงวันที่</label>
          <p-calendar
            id="toDate"
            [(ngModel)]="toDate"
            dateFormat="dd-mm-yy"
            placeholder="เลือกวันที่สิ้นสุด"
            style="width: 100%;"
          >
            ></p-calendar
          >
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog> -->

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
