:host ::ng-deep {
    .p-paginator {
        .p-paginator-current {
            margin-left: auto;
        }
    }
    
    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;
    
        .p-progressbar-value {
            background-color: #607D8B;
        }
    }
    
    .table-header {
        display: flex;
        justify-content: space-between;
    }
    
    .p-calendar .p-datepicker {
        min-width: 25rem;
    
        td {
            font-weight: 400;
        }
    }
    
    .p-datatable.p-datatable-customers {
        .p-datatable-header {
            padding: 1rem;
            text-align: left;
            font-size: 1.5rem;
        }
    
        .p-paginator {
            padding: 1rem;
        }
    
        .p-datatable-thead > tr > th {
            text-align: left;
        }
    
        .p-datatable-tbody > tr > td {
            cursor: auto;
        }
    
        .p-dropdown-label:not(.p-placeholder) {
            text-transform: uppercase;
        }
    }
    
    /* Responsive */
    .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
        display: none;
    }
}
::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
   }
  
  ::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-track {
    background-color: #e4e4e4 !important;
    border-radius: 100px !important;
  }
  
  ::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-thumb {
    border-radius: 100px !important;
    background-image: linear-gradient(180deg, #979594e7 0%, #757474 99%) !important;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;

}
::ng-deep.p-picklist .p-picklist-list::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}
::ng-deep.p-picklist .p-picklist-list::-webkit-scrollbar-track {
    background-color: #e4e4e4 !important;
    border-radius: 100px !important;
  }
  ::ng-deep.p-picklist .p-picklist-list::-webkit-scrollbar-thumb {
    border-radius: 100px !important;
    background-image: linear-gradient(180deg, #979594e7 0%, #757474 99%) !important;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;

}
.theme-arya {
    background-color:  #1f2d40;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.1);
    
}
.theme-saga {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.1);
}

.is-invalid {
    border-color: red;
}
@media screen and (max-width: 960px) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-customers {
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                    display: none !important;
                }
    
                .p-datatable-tbody > tr {
                    border-bottom: 1px solid var(--layer-2);
    
                    > td {
                        text-align: left;
                        display: block;
                        border: 0 none !important;
                        width: 100% !important;
                        float: left;
                        clear: left;
                        border: 0 none;
    
                        .p-column-title {
                            padding: .4rem;
                            min-width: 30%;
                            display: inline-block;
                            margin: -.4rem 1rem -.4rem -.4rem;
                            font-weight: bold;
                        }
    
                        .p-progressbar {
                            margin-top: .5rem;
                        }
                    }
                }
            }
        }
    }

}
@media screen and (min-width: 480px) {
    .Newtxt{
      margin-left: 5px !important;
    }
    .Exporttxt{
      margin-left: 5px !important;
    }
    .Cleartxt{
      margin-left: 5px !important;
    }
    .Clearbut{
      margin-right: 15px;
    }
    
    
    }
    @media screen and (max-width: 560px) {
      .Searchtxt{
        width: 180px !important;
      }
    }
    @media screen and (max-width: 520px) {
      .Searchtxt{
        width: 140px !important;
      }
    }
    @media screen and (max-width: 480px) {
    .Newtxt{
      display: none;
    }
    .Exporttxt{
      display: none;
    }
    .Cleartxt{
      display: none;
    }
    .Searchtxt{
      width: 80px !important;
    }
    .Newbut {
      width: 20px !important;
    }
    .Clearbut{
      width: 20px !important;
      margin-right: 5px;
    }
    .pi-plus:before {
      margin-left: -10px;
    }
    .Exportbut {
      width: 20px !important;
    }
    .pi-file:before {
      margin-left: -10px;
    }
    .pi-filter-slash:before {
      margin-left: -10px;
    }
    }
    @media screen and (min-width: 601px) {
        #myDIV1 { 
            width: 250px; /* Need to specify a width (can be any unit). overflow: hidden does nothing unless the width of .title is less than the width of the containing content */
            overflow: hidden; /* to hide anything that doesn't fit in the containing element. */
            white-space: nowrap; /* to make sure the line doesn't break when it is longer than the containing div. */
            text-overflow: ellipsis; /* to do what you want. */
        }  
        #myDIV2 { 
            width: 160px; /* Need to specify a width (can be any unit). overflow: hidden does nothing unless the width of .title is less than the width of the containing content */
            overflow: hidden; /* to hide anything that doesn't fit in the containing element. */
            white-space: nowrap; /* to make sure the line doesn't break when it is longer than the containing div. */
            text-overflow: ellipsis; /* to do what you want. */
        }   
    }
    @media screen and (max-width: 600px) {
        .product-item {
            display: flex;
            align-items: center;
            padding: .5rem;
            width: 100%;
            
        
            img {
                width: 75px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                margin-right: 1rem;
            }
        
            .product-list-detail {
                flex: 1 1 0;
                
            }
        
            .product-list-action {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        
            .product-category-icon {
                vertical-align: middle;
                margin-right: .5rem;
            }
        
            .product-category {
                vertical-align: middle;
                line-height: 1;
            }
        }
    }

@media screen and (max-width: 576px) {
    .product-item {
        flex-wrap: wrap;
        width: 200px;
        .image-container {
            width: 100%;
            text-align: center;
        }

        img {
            margin: 0 0 1rem 0;
            width: 100px;
        }
    }
}