/* @font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway-Regular.ttf') format('truetype'),
         url('/assets/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
<<<<<<< HEAD
}   */

div {
  font-family: "Prompt", sans-serif !important;
}

.card-text {
  font-family: "Prompt", sans-serif !important;
}

small {
  font-family: "Prompt", sans-serif !important;
}

span {
  font-family: "Prompt", sans-serif !important;
}

=======
}  
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    color: white;
}
>>>>>>> 718748dcdcfd7d9688fa25a5a8e175173e6dc930
.p-card {
  background-color: #060b28;
}

.p-component {
  font-family: "Prompt", sans-serif;
}

.p-dropdown {
  font-family: "Prompt", sans-serif;
}

.p-inputtext {
  font-family: "Prompt", sans-serif;
}
