@font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway-Regular.ttf') format('truetype'),
         url('/assets/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}  
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    color: white;
}
.p-card {
    background-color: #060B28;
}

.p-component {
    font-family: 'Prompt', sans-serif;
}

.p-dropdown {
    font-family: 'Prompt', sans-serif;
}

.p-inputtext {
    font-family: 'Prompt', sans-serif;
}
    