<p-toast></p-toast>
<!-- <p-toolbar styleClass="p-mb-4">
    </p-toolbar> -->
<div class="col-12 card bgcards p-2" style="position: relative;">
  <div class="pt-4 pb-4">
    <p-toolbar styleClass="p-mb-4 p-d-flex p-flex-wrap">
      <div class="p-toolbar-group-left">
        <div style="font-size: 18px; font-weight: 600;" class="text-color">
          API Approve
        </div>
      </div>
      <div
        class="p-toolbar-group-right"
        style="display: flex; flex-wrap: wrap; gap: 8px; justify-content: flex-end;"
      >
        <p-dropdown
          [style]="{ maxWidth: '350px' }"
          [options]="statusOptions"
          [(ngModel)]="selectedStatus"
          optionLabel="label"
          placeholder="เลือกสถานะ"
          (onChange)="filterByStatus(selectedStatus['value'])"
        >
        </p-dropdown>

        <span class="p-input-icon-left toolbar-search">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            class="Searchtxt new-font"
            placeholder="Search..."
          />
        </span>
      </div>
    </p-toolbar>
    <div class="row mx-0" style="position: relative; z-index: 0;">
      <div class="col-12">
        <div class="table-container">
          <!-- Table View -->
          <p-table
            #dt
            [value]="filteredList"
            [rows]="10"
            [paginator]="true"
            [loading]="isLoadingalarmGroups"
            [globalFilterFields]="[
              'id',
              'tag',
              'endpoints',
              'username',
              'admin_name',
              'status_description'
            ]"
            [(selection)]="alarmGroups"
            dataKey="group_id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
          >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="username">
                  User <p-sortIcon field="username"></p-sortIcon>
                </th>
                <th pSortableColumn="tag">
                  Tag <p-sortIcon field="tag"></p-sortIcon>
                </th>
                <th pSortableColumn="endpoints">
                  End Point <p-sortIcon field="endpoints"></p-sortIcon>
                </th>
                <th pSortableColumn="request_at">
                  Request Date <p-sortIcon field="request_at"></p-sortIcon>
                </th>
                <th pSortableColumn="approve_at">
                  Approve Date <p-sortIcon field="approve_at"></p-sortIcon>
                </th>
                <th pSortableColumn="admin_name">
                  Approve By <p-sortIcon field="admin_name"></p-sortIcon>
                </th>
                <th pSortableColumn="status_description">
                  Status <p-sortIcon field="status_description"></p-sortIcon>
                </th>
                <th></th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-group>
              <tr>
                <td
                  *ngIf="!isMobile"
                  class="truncate"
                  title="{{ group.username }}"
                >
                  {{ group.username }}
                </td>
                <td *ngIf="isMobile">User: {{ group.username }}</td>

                <td *ngIf="!isMobile" class="truncate" title="{{ group.tag }}">
                  {{ group.tag }}
                </td>
                <td *ngIf="isMobile">Tag: {{ group.tag }}</td>

                <td
                  *ngIf="!isMobile"
                  class="truncate"
                  title="{{ group.endpoints }}"
                >
                  {{ group.endpoints }}
                </td>
                <td *ngIf="isMobile">End Point: {{ group.endpoints }}</td>

                <td
                  *ngIf="!isMobile"
                  class="truncate"
                  title="{{ group.request_at | date: 'dd-MM-yyyy HH:mm:ss' }}"
                >
                  {{
                    group.request_at
                      ? (group.request_at | date: "dd-MM-yyyy HH:mm:ss")
                      : "-"
                  }}
                </td>
                <td *ngIf="isMobile">
                  Request Date:
                  {{
                    group.request_at
                      ? (group.request_at | date: "dd-MM-yyyy HH:mm:ss")
                      : "-"
                  }}
                </td>

                <td
                  *ngIf="!isMobile"
                  class="truncate"
                  title="{{ group.approve_at | date: 'dd-MM-yyyy HH:mm:ss' }}"
                >
                  {{
                    group.approve_at
                      ? (group.approve_at | date: "dd-MM-yyyy HH:mm:ss")
                      : "-"
                  }}
                </td>
                <td *ngIf="isMobile">
                  Approve Date:
                  {{
                    group.approve_at
                      ? (group.approve_at | date: "dd-MM-yyyy HH:mm:ss")
                      : "-"
                  }}
                </td>

                <td
                  *ngIf="!isMobile"
                  class="truncate"
                  title="{{ group.admin_name }}"
                >
                  {{ group.admin_name }}
                </td>
                <td *ngIf="isMobile">Approve By: {{ group.admin_name }}</td>

                <td *ngIf="!isMobile">
                  <div
                    class="truncate p-2 rounded text-center"
                    [ngClass]="{
                      'bg-success text-white':
                        group.status_description === 'เปิดใช้งาน',
                      'bg-primary text-white':
                        group.status_description === 'รอตรวจสอบจากเจ้าหน้าที่',
                      'bg-danger text-white':
                        group.status_description === 'ปฏิเสธ',
                      'bg-secondary text-white':
                        group.status_description === 'ปิดใช้งาน'
                    }"
                    style="font-size: 16px;"
                    title="{{ group.status_description }}"
                  >
                    {{ group.status_description }}
                  </div>
                </td>
                <td
                  *ngIf="isMobile"
                  style="display: flex; justify-content: flex-start;"
                >
                  Status:
                  <div
                    class="truncate p-2 rounded text-center"
                    [ngClass]="{
                      'bg-success text-white':
                        group.status_description === 'เปิดใช้งาน',
                      'bg-primary text-white':
                        group.status_description === 'รอตรวจสอบจากเจ้าหน้าที่',
                      'bg-danger text-white':
                        group.status_description === 'ปฏิเสธ',
                      'bg-secondary text-white':
                        group.status_description === 'ปิดใช้งาน'
                    }"
                    style="font-size: 16px; margin-left: 8px"
                    title="{{ group.status_description }}"
                  >
                    {{ group.status_description }}
                  </div>
                </td>

                <td>
                  <p-menu
                    #menu
                    [popup]="true"
                    [model]="itemsAction"
                    appendTo="body"
                  ></p-menu>
                  <button
                    pButton
                    type="text"
                    (click)="openMenuWithItems(group, $event, menu)"
                    icon="pi pi-ellipsis-h"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div
            *ngIf="isLoadingData"
            style="display: flex; align-items: center; justify-content: center;"
          >
            <i
              class="pi pi-spin pi-spinner"
              style="font-size: 5rem; margin-top: 24px; color:white"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog
  [(visible)]="lineDialog"
  [style]="{ width: '650px' }"
  [(header)]="dialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ overflow: 'visible' }"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <div class="row mx-0">
        <div class="col pl-0">
          <label
            for="id"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >ID:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_id }}</span>
          <br />
          <label
            for="name"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >Group Name:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_name }}</span>
          <br />
          <label
            for="Drescription"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >Description:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_description }}</span>
          <br />
          <label
            for="Email"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            *nglf="AlarmGroup.email != '' || AlarmGroup.email != null"
            >Email:</label
          >&nbsp;&nbsp;&nbsp;
          <span *nglf="AlarmGroup.email != '' || AlarmGroup.email != null">{{
            AlarmGroup.email
          }}</span>
          <br *nglf="AlarmGroup.email != '' || AlarmGroup.email != null" />
          <br />
          <div style="display: flex; justify-content: space-between;">
            <!-- Left Footer Content -->
            <div>
              <p-checkbox
                name="groupname"
                value="recoveryNotification"
                label="Recovery Notification"
                (onChange)="changecheck($event)"
                [(ngModel)]="selectedValues"
                readonly="true"
              ></p-checkbox>
              &nbsp; &nbsp;
              <p-checkbox
                name="groupname"
                value="resendNotification"
                label="Resend Notification"
                (onChange)="changecheck($event)"
                [(ngModel)]="selectedValues"
                readonly="true"
              ></p-checkbox>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 p-0">
            <div class="row mx-0 mt-2">
              <div class="col-12 pr-2">
                <p-table
                  [value]="stringArray"
                  [scrollable]="true"
                  responsiveLayout="scroll"
                  scrollHeight="250px"
                  width="650px"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th
                        [ngClass]="{
                          'theme-arya-text':
                            themeService.theme === 'arya-orange',
                          'theme-saga-text':
                            themeService.theme === 'saga-orange'
                        }"
                      >
                        Monitor alarm of
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-stringArray>
                    <tr>
                      <td>
                        <li>{{ stringArray }}</li>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <!-- <div class="col-12 pr-2" style="text-align: center; font-weight: bold; font-size: 2rem;"
                            *ngIf="hasNoSearchResult">
                            No seacrh result.
                        </div> -->
              </div>
            </div>
          </div>
          <!-- <input type="text"  pInputText id="symbol_name" [(ngModel)]="AlarmGroup.symbol_name" required autofocus disabled /> -->
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
<p-dialog
  [(visible)]="alarmGroupDialog"
  styleClass="modalResponsivo"
  [(header)]="dialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ 'overflow-y': 'auto', 'overflow-x': 'auto' }"
>
  <ng-template pTemplate="content">
    <div style="background-color: grey;  border-top: 1px dashed grey;"></div>
    <div class="col-12 justify-content-between flex">
      <div class="row mx-0">
        <div class="col-6 pr-0">
          <label for="tag" style="font-weight: bold;">Tag</label>
          <input
            type="text"
            pInputText
            id="tag"
            [(ngModel)]="alarmGroup.tag"
            required
            class="tag"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.tag"
            >Tag is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="endpoints" style="font-weight: bold;">Endpoints</label>
          <input
            type="text"
            pInputText
            id="endpoints"
            [(ngModel)]="alarmGroup.endpoints"
            required
            class="endpoints"
            [class]="invalid"
          />
          <small
            class="p-error block"
            *ngIf="submitted && !alarmGroup.endpoints"
            >Endpoints is required.</small
          >
        </div>
        <!-- <div class="col-1 pr-0"></div> -->
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="methods" style="font-weight: bold;">Methods</label>
          <input
            type="text"
            pInputText
            id="methods"
            [(ngModel)]="alarmGroup.methods"
            required
            class="methods"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.methods"
            >Methods is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="request" style="font-weight: bold;">Request</label>
          <input
            type="text"
            pInputText
            id="request"
            [(ngModel)]="alarmGroup.request"
            required
            class="request"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.request"
            >Request is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="response" style="font-weight: bold;">Response</label>
          <input
            type="text"
            pInputText
            id="response"
            [(ngModel)]="alarmGroup.response"
            required
            class="response"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.response"
            >Response is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="table" style="font-weight: bold;">Table</label>
          <input
            type="text"
            pInputText
            id="table"
            [(ngModel)]="alarmGroup.table"
            required
            class="table"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.table"
            >Table is required.</small
          >
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer" class="footer">
    <div style="display:flex">
      <p-checkbox
        name="groupname"
        value="recoveryNotification"
        label="Active"
        (onChange)="changecheck($event)"
        [(ngModel)]="selectedValues"
      ></p-checkbox>
      &nbsp; &nbsp;
    </div>

    <div style="float: right;">
      <button
        pButton
        pRipple
        label="Create"
        icon="pi pi-check"
        class="p-button-success"
        *ngIf="check1"
        (click)="createGroup()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-success"
        *ngIf="check"
        (click)="editlistGroup()"
      ></button>
    </div>
  </ng-template>
</p-dialog>
<p-dialog
  [(visible)]="approveDialog"
  [style]="{ width: '950px', height: '800px' }"
  [(header)]="approveDialogHeader"
  styleClass="p-fluid"
  [baseZIndex]="1000"
  [autoZIndex]="true"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="details" style="font-weight: bold;">รายละเอียด</label>
      <textarea
        id="details"
        rows="2"
        [(ngModel)]="requestDetails"
        pInputTextarea
        placeholder="กรอกรายละเอียด..."
        readonly
      ></textarea>
    </div>
    <div class="p-field" style="margin-top: 20px;">
      <label for="duration" style="font-weight: bold;">เลือกระยะเวลา</label>
      <p-dropdown
        id="duration"
        [options]="durationOptions"
        [(ngModel)]="selectedDuration"
        placeholder="เลือกระยะเวลา"
        optionLabel="label"
        [disabled]="true"
      ></p-dropdown>
    </div>
    <div
      *ngIf="selectedDuration.value === '-1'"
      class="p-field"
      style="margin-top: 20px;"
    >
      <!-- <label style="font-weight: bold;">วันที่</label> -->
      <!-- {{fromDate}} -->
      <div class="row">
        <div class="col-6">
          <label for="fromDate" style="margin-left:6px">ตั้งแต่วันที่</label>
          <p-calendar
            id="fromDate"
            [(ngModel)]="fromDate"
            dateFormat="dd-mm-yy"
            placeholder="เลือกวันที่เริ่มต้น"
            [showIcon]="true"
            [disabled]="true"
          ></p-calendar>
        </div>
        <div class="col-6">
          <label for="toDate">ถึงวันที่</label>
          <p-calendar
            id="toDate"
            [(ngModel)]="toDate"
            dateFormat="dd-mm-yy"
            placeholder="เลือกวันที่สิ้นสุด"
            [showIcon]="true"
            [disabled]="true"
          ></p-calendar>
        </div>
      </div>
    </div>
    <hr />

    <br />
    <div class="p-field">
      <label for="details" style="font-weight: bold;">เหตุผลเจ้าหน้าที่</label>
      <textarea
        id="details"
        rows="2"
        [(ngModel)]="adminDetails"
        pInputTextarea
        placeholder="กรอกรายละเอียด..."
      ></textarea>
    </div>
    <div class="p-field" style="margin-top: 20px;">
      <label for="selectAdminDuration" style="font-weight: bold;"
        >ระยะเวลาที่อนุมัติ</label
      >
      <p-dropdown
        id="selectAdminDuration"
        [options]="durationOptions"
        [(ngModel)]="selectAdminDuration"
        placeholder="ระยะเวลาที่อนุมัติ"
        optionLabel="label"
        appendTo="body"
        (onChange)="onAdminDurationChange($event)"
      ></p-dropdown>
    </div>
    <div
      *ngIf="selectAdminDuration.value === '-1'"
      class="p-field"
      style="margin-top: 20px;"
    >
      <div class="row">
        <div class="col-6">
          <label for="fromAdminDate" style="margin-left:6px"
            >ตั้งแต่วันที่</label
          >
          <p-calendar
            id="fromAdminDate"
            [(ngModel)]="fromAdminDate"
            dateFormat="dd-mm-yy"
            placeholder="เลือกวันที่เริ่มต้น"
            [showIcon]="true"
            [minDate]="today"
          ></p-calendar>
        </div>
        <div class="col-6">
          <label for="toAdminDate">ถึงวันที่</label>
          <p-calendar
            id="toAdminDate"
            [(ngModel)]="toAdminDate"
            dateFormat="dd-mm-yy"
            placeholder="เลือกวันที่สิ้นสุด"
            [showIcon]="true"
            [minDate]="today"
          ></p-calendar>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div style="text-align: right; width: 100%;">
      <button
        pButton
        pRipple
        label="Reject"
        icon="pi pi-times"
        class="p-button-danger"
        style="margin-right: 8px;"
        (click)="reject()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-success"
        (click)="approve()"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<p-dialog
  [(visible)]="isDialogVisible"
  [header]="'Group Details'"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '50vw' }"
  (onHide)="closeCheckDialog()"
>
  <div *ngIf="selectedGroup">
    <p><strong>User:</strong> {{ selectedGroup.username }}</p>
    <p><strong>Tag:</strong> {{ selectedGroup.tag }}</p>
    <p><strong>End Point:</strong> {{ selectedGroup.endpoints }}</p>
    <p>
      <strong>Request Date:</strong>
      {{ selectedGroup.request_at | date: "dd-MM-yyyy HH:mm:ss" }}
    </p>
    <p>
      <strong>Approve Date:</strong>
      {{ selectedGroup.approve_at | date: "dd-MM-yyyy HH:mm:ss" }}
    </p>
    <p><strong>Approve By:</strong> {{ selectedGroup.admin_name }}</p>
    <p><strong>Status:</strong> {{ selectedGroup.status_description }}</p>
    <p><strong>Reason:</strong> {{ selectedGroup.admin_details }}</p>
  </div>
</p-dialog>
