<p-toast></p-toast>
<!-- <p-toolbar styleClass="p-mb-4">
    </p-toolbar> -->
<div class="col-12 card bgcards p-2" style="position: relative;">
  <div class="pt-4 pb-4">
    <p-toolbar styleClass="p-mb-4 p-d-flex p-flex-wrap">
      <div class="p-toolbar-group-left">
        <div style="font-size: 18px; font-weight: 600;" class="text-color">
          API Log
        </div>
      </div>
      <div
        class="p-toolbar-group-right"
        style="display: flex; flex-wrap: wrap; gap: 8px; justify-content: flex-end;"
      >
        <p-dropdown
          [style]="{ width: '100%', maxWidth: '350px' }"
          [options]="statusOptions"
          [(ngModel)]="selectedStatus"
          optionLabel="label"
          placeholder="เลือกสถานะ"
          (onChange)="filterByStatus(selectedStatus['value'])"
        >
        </p-dropdown>

        <span class="p-input-icon-left toolbar-search">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            class="Searchtxt new-font"
            placeholder="Search..."
            style="width: 100%;"
          />
        </span>
      </div>
    </p-toolbar>
    <p-table
      #dt
      [value]="filteredList"
      [rows]="10"
      [paginator]="true"
      [loading]="isLoadingalarmGroups"
      [globalFilterFields]="['id', 'tag', 'endpoints']"
      [(selection)]="alarmGroups"
      dataKey="group_id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
      scrollable="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <!-- <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th> -->

          <th
            style="text-align:center;"
            pSortableColumn="row_number2"
            class="col-1"
          >
            ลำดับ <p-sortIcon field="row_number"> </p-sortIcon>
          </th>
          <th pSortableColumn="username" class="col-1">
            User<p-sortIcon field="username"></p-sortIcon>
          </th>
          <th pSortableColumn="tag" class="col-1">
            Tag<p-sortIcon field="tag"> </p-sortIcon>
          </th>
          <th pSortableColumn="endpoints" class="col-1">
            End Point
            <p-sortIcon field="endpoints"></p-sortIcon>
          </th>
          <th pSortableColumn="request_at" class="col-2">
            Request Date
            <p-sortIcon field="request_at"></p-sortIcon>
          </th>
          <th pSortableColumn="approve_at" class="col-2">
            Approve Date
            <p-sortIcon field="approve_at"></p-sortIcon>
          </th>
          <th pSortableColumn="admin_name" class="col-2">
            Approve By
            <p-sortIcon field="admin_name"></p-sortIcon>
          </th>

          <th pSortableColumn="status_description" class="col-2">
            Status<p-sortIcon field="status_description"> </p-sortIcon>
          </th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-group let-rowIndex>
        <tr>
          <!-- <td>
                        <p-tableCheckbox [value]="group"></p-tableCheckbox>
                    </td> -->
          <td style="text-align:center;">{{ group.row_number2 }}</td>
          <td>
            <div id="myDIV3" title="{{ group.username }}">
              {{ group.username }}
            </div>
          </td>
          <td>
            <div id="myDIV1" title="{{ group.tag }}">{{ group.tag }}</div>
          </td>
          <td>
            <div id="myDIV1" title="{{ group.endpoints }}">
              {{ group.endpoints }}
            </div>
          </td>
          <td>
            <div
              id="myDIV1"
              title="{{
                group.request_at ? (group.request_at | date: 'dd/MM/yyyy') : '-'
              }}"
            >
              {{
                group.request_at
                  ? (group.request_at | date: "dd/MM/yyyy hh:mm:ss")
                  : "-"
              }}
            </div>
          </td>
          <td>
            <div
              id="myDIV1"
              title="{{
                group.approve_at ? (group.approve_at | date: 'dd/MM/yyyy') : '-'
              }}"
            >
              {{
                group.approve_at
                  ? (group.approve_at | date: "dd/MM/yyyy hh:mm:ss")
                  : "-"
              }}
            </div>
          </td>
          <td>
            <div id="myDIV1" title="{{ group.admin_name }}">
              {{ group.admin_name }}
            </div>
          </td>
          <td>
            <div
              id="myDIV2"
              [ngClass]="{
                'bg-success text-white':
                  group.status_description === 'เปิดใช้งาน',
                'bg-primary text-white':
                  group.status_description === 'รอตรวจสอบจากเจ้าหน้าที่',
                'bg-danger text-white': group.status_description === 'ปฏิเสธ',
                'bg-secondary text-white':
                  group.status_description === 'ปิดใช้งาน'
              }"
              style="font-size:16px;  color:black"
              class="p-2 rounded text-center"
              title="{{ group.status_description }}"
            >
              {{ group.status_description }}
            </div>
          </td>
          <!--<td>{{group.symbol_name}}</td>-->
          <td style="display: flex; justify-content: space-between;">
            <p-menu
              #menu
              [popup]="true"
              [model]="itemsAction"
              appendTo="body"
            ></p-menu>
            <button
              pButton
              type="text"
              (click)="openMenuWithItems(group, $event, menu)"
              icon="pi pi-ellipsis-h"
            ></button>

            <!-- (click)="approve(group.user_id, group.route_id)" -->
            <!-- <button type="button" pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info"
                            (click)="lineread(group)"></button>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2"
                            (click)="editline(group)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="deleteGroup(group)"></button> -->
          </td>
          <td></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          Total {{ alarmGroups ? alarmGroups.length : 0 }} groups.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog
  [(visible)]="lineDialog"
  [style]="{ width: '650px' }"
  [(header)]="dialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ overflow: 'visible' }"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <div class="row mx-0">
        <div class="col pl-0">
          <label
            for="id"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >ID:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_id }}</span>
          <br />
          <label
            for="name"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >Group Name:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_name }}</span>
          <br />
          <label
            for="Drescription"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            >Description:</label
          >&nbsp;&nbsp;&nbsp;
          <span>{{ AlarmGroup.group_description }}</span>
          <br />
          <label
            for="Email"
            [ngClass]="{
              'theme-arya-text': themeService.theme === 'arya-orange',
              'theme-saga-text': themeService.theme === 'saga-orange'
            }"
            *nglf="AlarmGroup.email != '' || AlarmGroup.email != null"
            >Email:</label
          >&nbsp;&nbsp;&nbsp;
          <span *nglf="AlarmGroup.email != '' || AlarmGroup.email != null">{{
            AlarmGroup.email
          }}</span>
          <br *nglf="AlarmGroup.email != '' || AlarmGroup.email != null" />
          <br />
          <div style="display: flex; justify-content: space-between;">
            <!-- Left Footer Content -->
            <div>
              <p-checkbox
                name="groupname"
                value="recoveryNotification"
                label="Recovery Notification"
                (onChange)="changecheck($event)"
                [(ngModel)]="selectedValues"
                readonly="true"
              ></p-checkbox>
              &nbsp; &nbsp;
              <p-checkbox
                name="groupname"
                value="resendNotification"
                label="Resend Notification"
                (onChange)="changecheck($event)"
                [(ngModel)]="selectedValues"
                readonly="true"
              ></p-checkbox>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 p-0">
            <div class="row mx-0 mt-2">
              <div class="col-12 pr-2">
                <p-table
                  [value]="stringArray"
                  [scrollable]="true"
                  responsiveLayout="scroll"
                  scrollHeight="250px"
                  width="650px"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th
                        [ngClass]="{
                          'theme-arya-text':
                            themeService.theme === 'arya-orange',
                          'theme-saga-text':
                            themeService.theme === 'saga-orange'
                        }"
                      >
                        Monitor alarm of
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-stringArray>
                    <tr>
                      <td>
                        <li>{{ stringArray }}</li>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <!-- <div class="col-12 pr-2" style="text-align: center; font-weight: bold; font-size: 2rem;"
                            *ngIf="hasNoSearchResult">
                            No seacrh result.
                        </div> -->
              </div>
            </div>
          </div>
          <!-- <input type="text"  pInputText id="symbol_name" [(ngModel)]="AlarmGroup.symbol_name" required autofocus disabled /> -->
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
<p-dialog
  [(visible)]="alarmGroupDialog"
  styleClass="modalResponsivo"
  [(header)]="dialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ 'overflow-y': 'auto', 'overflow-x': 'auto' }"
>
  <ng-template pTemplate="content">
    <!-- <div class="col-12 justify-content-between flex">
            <div class="row">

                <input type="text" pInputText id="nameSearch" [(ngModel)]="nameSearch" autofocus (input)="nameInput()"
                    class="nameSearch" placeholder="Search by Symbol Name" />

                <input type="text" pInputText id="ipSearch" [(ngModel)]="ipSearch" (input)="ipInput()" class="ipSearch"
                    placeholder="Search by IP Address" />

                <button pButton pRipple label="Search" icon="pi pi-search" class="p-button ml-1 butSearch"
                    (click)="searchSymbol()"></button>

            </div>
        </div> -->
    <!-- <div class="col-12 col-sm-12 col-md-12 p-0">
            <div class="row mx-0 mt-2">
                <div class="col-12 pr-2">
                    <p-table [value]="symbolData" responsiveLayout="scroll" scrollHeight="200px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="text-align:center;" class="col-2 pl-0">
                                    SYMBOL ID
                                </th>
                                <th class="col-4 pl-0">
                                    SYMBOL Name
                                </th>
                                <th class="col-4 pl-0">
                                    IP Address
                                </th>
                                <th class="col-2 pl-0">
                                    Action
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" *ngIf="hasNoSearchResult; else otherField">
                            <tr>
                                <td colspan="4">No seacrh result.</td>
                            </tr>
                        </ng-template>
                        <ng-template #otherField pTemplate="body" let-rowData>

                            <tr>
                                <td class="col-2 pl-0">{{rowData.SYMBOL_ID}}</td>
                                <td class="col-4 pl-0">
                                    <div class="myDIV3" title="{{rowData.SYMBOL_NAME1}}">{{rowData.SYMBOL_NAME1}}</div>
                                </td>
                                <td class="col-4 pl-0">
                                    <div class="myDIV3" title="{{rowData.SYMBOL_NAME3}}">{{rowData.SYMBOL_NAME3}}</div>
                                </td>
                                <td class="col-2 pl-0">
                                    <button pButton pRipple class="Newbuttd" (click)="addSymbol(rowData)"><i
                                            class="pi pi-plus"></i></button>
                                    <button pButton pRipple class="oldbut" (click)="addSymbol(rowData)">Add</button>
                                </td>
                            </tr>

                        </ng-template>
                    </p-table>
               
                </div>
            </div>
        </div> -->
    <div
      style="background-color: grey; width:100%; border-top: 1px dashed grey;"
    ></div>
    <div class="col-12 justify-content-between flex">
      <div class="row mx-0">
        <div class="col-6 pr-0">
          <label for="tag" style="font-weight: bold;">Tag</label>
          <input
            type="text"
            pInputText
            id="tag"
            [(ngModel)]="alarmGroup.tag"
            required
            class="tag"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.tag"
            >Tag is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="endpoints" style="font-weight: bold;">Endpoints</label>
          <input
            type="text"
            pInputText
            id="endpoints"
            [(ngModel)]="alarmGroup.endpoints"
            required
            class="endpoints"
            [class]="invalid"
          />
          <small
            class="p-error block"
            *ngIf="submitted && !alarmGroup.endpoints"
            >Endpoints is required.</small
          >
        </div>
        <!-- <div class="col-1 pr-0"></div> -->
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="methods" style="font-weight: bold;">Methods</label>
          <input
            type="text"
            pInputText
            id="methods"
            [(ngModel)]="alarmGroup.methods"
            required
            class="methods"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.methods"
            >Methods is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="request" style="font-weight: bold;">Request</label>
          <input
            type="text"
            pInputText
            id="request"
            [(ngModel)]="alarmGroup.request"
            required
            class="request"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.request"
            >Request is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="response" style="font-weight: bold;">Response</label>
          <input
            type="text"
            pInputText
            id="response"
            [(ngModel)]="alarmGroup.response"
            required
            class="response"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.response"
            >Response is required.</small
          >
        </div>
        <div class="col-6 pr-0"></div>
        <div class="col-6 pr-0">
          <label for="table" style="font-weight: bold;">Table</label>
          <input
            type="text"
            pInputText
            id="table"
            [(ngModel)]="alarmGroup.table"
            required
            class="table"
            [class]="invalid"
          />
          <small class="p-error block" *ngIf="submitted && !alarmGroup.table"
            >Table is required.</small
          >
        </div>
      </div>
    </div>

    <!-- <div style="padding-top: 30px;">
            <label for="email" style="font-weight: bold;">Email: </label>
            <input type="text" pInputText id="email" [(ngModel)]="emailsendline" style="width: 50%; margin-left: 15px;"
                placeholder="Optional" />
        </div> -->
  </ng-template>

  <ng-template pTemplate="footer" class="footer">
    <div style="display:flex">
      <p-checkbox
        name="groupname"
        value="recoveryNotification"
        label="Active"
        (onChange)="changecheck($event)"
        [(ngModel)]="selectedValues"
      ></p-checkbox>
      &nbsp; &nbsp;
      <!-- <p-checkbox name="groupname" value="resendNotification" label="Resend Notification"
                (onChange)="changecheck($event)" [(ngModel)]="selectedValues"></p-checkbox> -->
      <!-- <p-dropdown style="width: 120px; margin-left: 16px;" [options]="minutes" [(ngModel)]="selectedValue" optionLabel="name"
                 placeholder="Resend interval"></p-dropdown> -->
    </div>

    <div style="float: right;">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-danger"
        (click)="hideDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Create"
        icon="pi pi-check"
        class="p-button-success"
        *ngIf="check1"
        (click)="createGroup()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-success"
        *ngIf="check"
        (click)="editlistGroup()"
      ></button>
    </div>
  </ng-template>
</p-dialog>
<p-dialog
  [(visible)]="approveDialog"
  [style]="{ width: '650px' }"
  [(header)]="approveDialogHeader"
  [modal]="true"
  styleClass="p-fluid"
  [contentStyle]="{ overflow: 'visible' }"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="details" style="font-weight: bold;">รายละเอียด</label>
      <textarea
        id="details"
        rows="5"
        [(ngModel)]="requestDetails"
        pInputTextarea
        placeholder="กรอกรายละเอียด..."
        style="width: 100%;"
      ></textarea>
    </div>
    <div class="p-field" style="margin-top: 20px;">
      <label for="duration" style="font-weight: bold;">เลือกระยะเวลา</label>
      <p-dropdown
        id="duration"
        [options]="durationOptions"
        [(ngModel)]="selectedDuration"
        placeholder="เลือกระยะเวลา"
        optionLabel="label"
        style="width: 100%;"
      ></p-dropdown>
    </div>
    <hr />

    <br />
    <div class="p-field">
      <label for="details" style="font-weight: bold;">เหตุผลเจ้าหน้าที่</label>
      <textarea
        id="details"
        rows="5"
        [(ngModel)]="adminDetails"
        pInputTextarea
        placeholder="กรอกรายละเอียด..."
        style="width: 100%;"
      ></textarea>
    </div>
    <div class="p-field" style="margin-top: 20px;">
      <label for="duration" style="font-weight: bold;"
        >ระยะเวลาที่อนุมัติ</label
      >
      <p-dropdown
        id="duration"
        [options]="durationOptions"
        [(ngModel)]="selectAdminDuration"
        placeholder="ระยะเวลาที่อนุมัติ"
        optionLabel="label"
        style="width: 100%;"
      ></p-dropdown>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div style="float: right;">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-danger"
        (click)="closeDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Reject"
        icon="pi pi-check"
        class="p-button-danger"
        (click)="reject()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-success"
        (click)="approve()"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
